// <copyright file="AccountSubscriptionsController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// AccountSubscriptionsController.
    /// </summary>
    public class AccountSubscriptionsController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AccountSubscriptionsController"/> class.
        /// </summary>
        internal AccountSubscriptionsController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Retrieves the total number of SIM-Secure for IoT subscription licenses purchased for your account by license type, and lists the number of licenses assigned and available for each license type.
        /// </summary>
        /// <param name="body">Required parameter: Request for account subscription..</param>
        /// <param name="xRequestID">Optional parameter: Transaction Id..</param>
        /// <returns>Returns the ApiResponse of Models.SecuritySubscriptionResult response from the API call.</returns>
        public ApiResponse<Models.SecuritySubscriptionResult> ListAccountSubscriptions(
                Models.SecuritySubscriptionRequest body,
                string xRequestID = null)
            => CoreHelper.RunTask(ListAccountSubscriptionsAsync(body, xRequestID));

        /// <summary>
        /// Retrieves the total number of SIM-Secure for IoT subscription licenses purchased for your account by license type, and lists the number of licenses assigned and available for each license type.
        /// </summary>
        /// <param name="body">Required parameter: Request for account subscription..</param>
        /// <param name="xRequestID">Optional parameter: Transaction Id..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.SecuritySubscriptionResult response from the API call.</returns>
        public async Task<ApiResponse<Models.SecuritySubscriptionResult>> ListAccountSubscriptionsAsync(
                Models.SecuritySubscriptionRequest body,
                string xRequestID = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.SecuritySubscriptionResult>()
              .Server(Server.M2m)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/accounts/subscriptions/actions/list")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Header(header => header.Setup("X-Request-ID", xRequestID))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request.", (errorReason, context) => new SecurityResultException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized request.", (errorReason, context) => new SecurityResultException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Request forbidden.", (errorReason, context) => new SecurityResultException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found / Does not exist.", (errorReason, context) => new SecurityResultException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Format / Request Unacceptable.", (errorReason, context) => new SecurityResultException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests.", (errorReason, context) => new SecurityResultException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Error response.", (errorReason, context) => new SecurityResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}