// <copyright file="AccountRequestsController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// AccountRequestsController.
    /// </summary>
    public class AccountRequestsController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AccountRequestsController"/> class.
        /// </summary>
        internal AccountRequestsController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Returns the current status of an asynchronous request that was made for a single device.
        /// </summary>
        /// <param name="aname">Required parameter: Account name..</param>
        /// <param name="requestId">Required parameter: UUID from synchronous response..</param>
        /// <returns>Returns the ApiResponse of Models.AsynchronousRequestResult response from the API call.</returns>
        public ApiResponse<Models.AsynchronousRequestResult> GetCurrentAsynchronousRequestStatus(
                string aname,
                string requestId)
            => CoreHelper.RunTask(GetCurrentAsynchronousRequestStatusAsync(aname, requestId));

        /// <summary>
        /// Returns the current status of an asynchronous request that was made for a single device.
        /// </summary>
        /// <param name="aname">Required parameter: Account name..</param>
        /// <param name="requestId">Required parameter: UUID from synchronous response..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AsynchronousRequestResult response from the API call.</returns>
        public async Task<ApiResponse<Models.AsynchronousRequestResult>> GetCurrentAsynchronousRequestStatusAsync(
                string aname,
                string requestId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AsynchronousRequestResult>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/m2m/v1/accounts/{aname}/requests/{requestId}/status")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("aname", aname))
                      .Template(template => template.Setup("requestId", requestId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Error response.", (errorReason, context) => new ConnectivityManagementResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}