// <copyright file="AccountsController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// AccountsController.
    /// </summary>
    public class AccountsController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AccountsController"/> class.
        /// </summary>
        internal AccountsController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Returns information about a specified account.
        /// </summary>
        /// <param name="aname">Required parameter: Account name..</param>
        /// <returns>Returns the ApiResponse of Models.Account response from the API call.</returns>
        public ApiResponse<Models.Account> GetAccountInformation(
                string aname)
            => CoreHelper.RunTask(GetAccountInformationAsync(aname));

        /// <summary>
        /// Returns information about a specified account.
        /// </summary>
        /// <param name="aname">Required parameter: Account name..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Account response from the API call.</returns>
        public async Task<ApiResponse<Models.Account>> GetAccountInformationAsync(
                string aname,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Account>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/m2m/v1/accounts/{aname}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("aname", aname))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Error response.", (errorReason, context) => new ConnectivityManagementResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns a list and details of all custom services and states defined for a specified account.
        /// </summary>
        /// <param name="aname">Required parameter: Account name..</param>
        /// <returns>Returns the ApiResponse of Models.AccountStatesAndServices response from the API call.</returns>
        public ApiResponse<Models.AccountStatesAndServices> ListAccountStatesAndServices(
                string aname)
            => CoreHelper.RunTask(ListAccountStatesAndServicesAsync(aname));

        /// <summary>
        /// Returns a list and details of all custom services and states defined for a specified account.
        /// </summary>
        /// <param name="aname">Required parameter: Account name..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AccountStatesAndServices response from the API call.</returns>
        public async Task<ApiResponse<Models.AccountStatesAndServices>> ListAccountStatesAndServicesAsync(
                string aname,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AccountStatesAndServices>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/m2m/v1/accounts/{aname}/statesandservices")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("aname", aname))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Error response.", (errorReason, context) => new ConnectivityManagementResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// When HTTP status is 202, a URL will be returned in the Location header of the form /leads/{aname}?next={token}. This URL can be used to request the next set of leads.
        /// </summary>
        /// <param name="aname">Required parameter: Account name..</param>
        /// <param name="next">Optional parameter: Continue the previous query from the pageUrl in Location Header..</param>
        /// <returns>Returns the ApiResponse of Models.AccountLeadsResult response from the API call.</returns>
        public ApiResponse<Models.AccountLeadsResult> ListAccountLeads(
                string aname,
                long? next = null)
            => CoreHelper.RunTask(ListAccountLeadsAsync(aname, next));

        /// <summary>
        /// When HTTP status is 202, a URL will be returned in the Location header of the form /leads/{aname}?next={token}. This URL can be used to request the next set of leads.
        /// </summary>
        /// <param name="aname">Required parameter: Account name..</param>
        /// <param name="next">Optional parameter: Continue the previous query from the pageUrl in Location Header..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AccountLeadsResult response from the API call.</returns>
        public async Task<ApiResponse<Models.AccountLeadsResult>> ListAccountLeadsAsync(
                string aname,
                long? next = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AccountLeadsResult>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/m2m/v1/leads/{aname}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("aname", aname))
                      .Query(query => query.Setup("next", next))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Error response.", (errorReason, context) => new ConnectivityManagementResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}