// <copyright file="AccountDevicesController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// AccountDevicesController.
    /// </summary>
    public class AccountDevicesController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AccountDevicesController"/> class.
        /// </summary>
        internal AccountDevicesController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Retrieve account device information such as reported firmware on the devices.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="lastSeenDeviceId">Optional parameter: Last seen device identifier..</param>
        /// <param name="protocol">Optional parameter: Filter to retrieve a specific protocol type used..</param>
        /// <returns>Returns the ApiResponse of Models.V3AccountDeviceList response from the API call.</returns>
        public ApiResponse<Models.V3AccountDeviceList> GetAccountDeviceInformation(
                string acc,
                string lastSeenDeviceId = null,
                Models.DevicesProtocolEnum? protocol = Models.DevicesProtocolEnum.LWM2m)
            => CoreHelper.RunTask(GetAccountDeviceInformationAsync(acc, lastSeenDeviceId, protocol));

        /// <summary>
        /// Retrieve account device information such as reported firmware on the devices.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="lastSeenDeviceId">Optional parameter: Last seen device identifier..</param>
        /// <param name="protocol">Optional parameter: Filter to retrieve a specific protocol type used..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V3AccountDeviceList response from the API call.</returns>
        public async Task<ApiResponse<Models.V3AccountDeviceList>> GetAccountDeviceInformationAsync(
                string acc,
                string lastSeenDeviceId = null,
                Models.DevicesProtocolEnum? protocol = Models.DevicesProtocolEnum.LWM2m,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V3AccountDeviceList>()
              .Server(Server.SoftwareManagementV3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/devices/{acc}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("acc", acc))
                      .Query(query => query.Setup("lastSeenDeviceId", lastSeenDeviceId))
                      .Query(query => query.Setup("protocol", (protocol.HasValue) ? CoreHelper.JsonSerialize(protocol.Value).Trim('\"') : "LWM2M"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV3ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieve device information for a list of devices on an account.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="body">Required parameter: Request device list information..</param>
        /// <returns>Returns the ApiResponse of Models.DeviceListResult response from the API call.</returns>
        public ApiResponse<Models.DeviceListResult> ListAccountDevicesInformation(
                string acc,
                Models.DeviceIMEI body)
            => CoreHelper.RunTask(ListAccountDevicesInformationAsync(acc, body));

        /// <summary>
        /// Retrieve device information for a list of devices on an account.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="body">Required parameter: Request device list information..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DeviceListResult response from the API call.</returns>
        public async Task<ApiResponse<Models.DeviceListResult>> ListAccountDevicesInformationAsync(
                string acc,
                Models.DeviceIMEI body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DeviceListResult>()
              .Server(Server.SoftwareManagementV3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/devices/{acc}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("acc", acc))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV3ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}