// <copyright file="AccountServiceController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// AccountServiceController.
    /// </summary>
    public class AccountServiceController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AccountServiceController"/> class.
        /// </summary>
        internal AccountServiceController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Returns aaccount information associated with a specified account.
        /// </summary>
        /// <param name="accountName">Required parameter: The account's numeric name, including leading zeroes..</param>
        /// <returns>Returns the ApiResponse of Models.GetAccountInformationResponseforplanner response from the API call.</returns>
        public ApiResponse<Models.GetAccountInformationResponseforplanner> GetAccountInformationUsingGET(
                string accountName)
            => CoreHelper.RunTask(GetAccountInformationUsingGETAsync(accountName));

        /// <summary>
        /// Returns aaccount information associated with a specified account.
        /// </summary>
        /// <param name="accountName">Required parameter: The account's numeric name, including leading zeroes..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.GetAccountInformationResponseforplanner response from the API call.</returns>
        public async Task<ApiResponse<Models.GetAccountInformationResponseforplanner>> GetAccountInformationUsingGETAsync(
                string accountName,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GetAccountInformationResponseforplanner>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/accounts/{accountName}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("accountName", accountName))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request", (errorReason, context) => new RestErrorResponseforplannerException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new AuthRestErrorResponseforplannerException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new RestErrorResponseforplannerException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found / Does not exist", (errorReason, context) => new RestErrorResponseforplannerException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Format / Request Unacceptable", (errorReason, context) => new RestErrorResponseforplannerException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new RestErrorResponseforplannerException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new RestErrorResponseforplannerException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}