// <copyright file="AnomalyTriggersController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// AnomalyTriggersController.
    /// </summary>
    public class AnomalyTriggersController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AnomalyTriggersController"/> class.
        /// </summary>
        internal AnomalyTriggersController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// This corresponds to the M2M-MC SOAP interface, ```GetTriggers```.
        /// </summary>
        /// <returns>Returns the ApiResponse of List of Models.GetTriggerResponseList response from the API call.</returns>
        public ApiResponse<List<Models.GetTriggerResponseList>> ListAnomalyDetectionTriggers()
            => CoreHelper.RunTask(ListAnomalyDetectionTriggersAsync());

        /// <summary>
        /// This corresponds to the M2M-MC SOAP interface, ```GetTriggers```.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.GetTriggerResponseList response from the API call.</returns>
        public async Task<ApiResponse<List<Models.GetTriggerResponseList>>> ListAnomalyDetectionTriggersAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.GetTriggerResponseList>>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/m2m/v1/triggers")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  ))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found / Does not exist", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Format / Request Unacceptable", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new IntelligenceResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This corresponds to the M2M-MC SOAP interface, ```UpdateTriggerRequest```.
        /// </summary>
        /// <param name="body">Required parameter: Update Trigger Request.</param>
        /// <returns>Returns the ApiResponse of Models.AnomalyDetectionTrigger response from the API call.</returns>
        public ApiResponse<Models.AnomalyDetectionTrigger> UpdateAnomalyDetectionTrigger(
                Models.UpdateTriggerRequest body)
            => CoreHelper.RunTask(UpdateAnomalyDetectionTriggerAsync(body));

        /// <summary>
        /// This corresponds to the M2M-MC SOAP interface, ```UpdateTriggerRequest```.
        /// </summary>
        /// <param name="body">Required parameter: Update Trigger Request.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AnomalyDetectionTrigger response from the API call.</returns>
        public async Task<ApiResponse<Models.AnomalyDetectionTrigger>> UpdateAnomalyDetectionTriggerAsync(
                Models.UpdateTriggerRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AnomalyDetectionTrigger>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/m2m/v1/triggers")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found / Does not exist", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Format / Request Unacceptable", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new IntelligenceResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This corresponds to the M2M-MC SOAP interface, ```CreateTrigger```.
        /// </summary>
        /// <param name="body">Required parameter: Create Trigger Request.</param>
        /// <returns>Returns the ApiResponse of Models.AnomalyDetectionTrigger response from the API call.</returns>
        public ApiResponse<Models.AnomalyDetectionTrigger> CreateAnomalyDetectionTrigger(
                Models.CreateTriggerRequest body)
            => CoreHelper.RunTask(CreateAnomalyDetectionTriggerAsync(body));

        /// <summary>
        /// This corresponds to the M2M-MC SOAP interface, ```CreateTrigger```.
        /// </summary>
        /// <param name="body">Required parameter: Create Trigger Request.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AnomalyDetectionTrigger response from the API call.</returns>
        public async Task<ApiResponse<Models.AnomalyDetectionTrigger>> CreateAnomalyDetectionTriggerAsync(
                Models.CreateTriggerRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AnomalyDetectionTrigger>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/m2m/v1/triggers")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found / Does not exist", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Format / Request Unacceptable", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new IntelligenceResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This corresponds to the M2M-MC SOAP interface, ```GetTriggers```.
        /// </summary>
        /// <param name="triggerId">Required parameter: trigger ID.</param>
        /// <returns>Returns the ApiResponse of List of Models.GetTriggerResponseList response from the API call.</returns>
        public ApiResponse<List<Models.GetTriggerResponseList>> ListAnomalyDetectionTriggerSettings(
                string triggerId)
            => CoreHelper.RunTask(ListAnomalyDetectionTriggerSettingsAsync(triggerId));

        /// <summary>
        /// This corresponds to the M2M-MC SOAP interface, ```GetTriggers```.
        /// </summary>
        /// <param name="triggerId">Required parameter: trigger ID.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.GetTriggerResponseList response from the API call.</returns>
        public async Task<ApiResponse<List<Models.GetTriggerResponseList>>> ListAnomalyDetectionTriggerSettingsAsync(
                string triggerId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.GetTriggerResponseList>>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/m2m/v1/triggers/{triggerId}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("triggerId", triggerId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found / Does not exist", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Format / Request Unacceptable", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new IntelligenceResultException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new IntelligenceResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Deletes a specific trigger ID.
        /// </summary>
        /// <param name="triggerId">Required parameter: The trigger ID to be deleted.</param>
        /// <returns>Returns the ApiResponse of Models.AnomalyDetectionTrigger response from the API call.</returns>
        public ApiResponse<Models.AnomalyDetectionTrigger> DeleteAnomalyDetectionTrigger(
                string triggerId)
            => CoreHelper.RunTask(DeleteAnomalyDetectionTriggerAsync(triggerId));

        /// <summary>
        /// Deletes a specific trigger ID.
        /// </summary>
        /// <param name="triggerId">Required parameter: The trigger ID to be deleted.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AnomalyDetectionTrigger response from the API call.</returns>
        public async Task<ApiResponse<Models.AnomalyDetectionTrigger>> DeleteAnomalyDetectionTriggerAsync(
                string triggerId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AnomalyDetectionTrigger>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/m2m/v1/triggers/{triggerId}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("triggerId", triggerId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new IntelligenceResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}