// <copyright file="AnomalyTriggersV2Controller.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;
using Verizon.Standard.Models.Containers;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// AnomalyTriggersV2Controller.
    /// </summary>
    public class AnomalyTriggersV2Controller : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AnomalyTriggersV2Controller"/> class.
        /// </summary>
        internal AnomalyTriggersV2Controller(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Creates the trigger to identify an anomaly.
        /// </summary>
        /// <param name="body">Required parameter: Request to create an anomaly trigger..</param>
        /// <returns>Returns the ApiResponse of Models.AnomalyDetectionTrigger response from the API call.</returns>
        public ApiResponse<Models.AnomalyDetectionTrigger> CreateAnomalyDetectionTriggerV2(
                List<CreateTriggerRequestOptions2> body)
            => CoreHelper.RunTask(CreateAnomalyDetectionTriggerV2Async(body));

        /// <summary>
        /// Creates the trigger to identify an anomaly.
        /// </summary>
        /// <param name="body">Required parameter: Request to create an anomaly trigger..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AnomalyDetectionTrigger response from the API call.</returns>
        public async Task<ApiResponse<Models.AnomalyDetectionTrigger>> CreateAnomalyDetectionTriggerV2Async(
                List<CreateTriggerRequestOptions2> body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AnomalyDetectionTrigger>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/m2m/v2/triggers")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("An error occurred.", (errorReason, context) => new IntelligenceResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Updates an existing trigger using the account name.
        /// </summary>
        /// <param name="body">Required parameter: Request to update existing trigger..</param>
        /// <returns>Returns the ApiResponse of Models.IntelligenceSuccessResult response from the API call.</returns>
        public ApiResponse<Models.IntelligenceSuccessResult> UpdateAnomalyDetectionTriggerV2(
                List<UpdateTriggerRequestOptions2> body)
            => CoreHelper.RunTask(UpdateAnomalyDetectionTriggerV2Async(body));

        /// <summary>
        /// Updates an existing trigger using the account name.
        /// </summary>
        /// <param name="body">Required parameter: Request to update existing trigger..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.IntelligenceSuccessResult response from the API call.</returns>
        public async Task<ApiResponse<Models.IntelligenceSuccessResult>> UpdateAnomalyDetectionTriggerV2Async(
                List<UpdateTriggerRequestOptions2> body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.IntelligenceSuccessResult>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/m2m/v2/triggers")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("An error occurred.", (errorReason, context) => new IntelligenceResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieves the values for a specific trigger ID.
        /// </summary>
        /// <param name="triggerId">Required parameter: The trigger ID of a specific trigger..</param>
        /// <returns>Returns the ApiResponse of Models.AnomalyTriggerResult response from the API call.</returns>
        public ApiResponse<Models.AnomalyTriggerResult> ListAnomalyDetectionTriggerSettingsV2(
                string triggerId)
            => CoreHelper.RunTask(ListAnomalyDetectionTriggerSettingsV2Async(triggerId));

        /// <summary>
        /// Retrieves the values for a specific trigger ID.
        /// </summary>
        /// <param name="triggerId">Required parameter: The trigger ID of a specific trigger..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AnomalyTriggerResult response from the API call.</returns>
        public async Task<ApiResponse<Models.AnomalyTriggerResult>> ListAnomalyDetectionTriggerSettingsV2Async(
                string triggerId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AnomalyTriggerResult>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/m2m/v2/triggers/{triggerId}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("triggerId", triggerId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("An error occurred.", (errorReason, context) => new IntelligenceResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}