// <copyright file="AnomalySettingsController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// AnomalySettingsController.
    /// </summary>
    public class AnomalySettingsController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AnomalySettingsController"/> class.
        /// </summary>
        internal AnomalySettingsController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Uses the subscribed account ID to activate anomaly detection and set threshold values.
        /// </summary>
        /// <param name="body">Required parameter: Request to activate anomaly detection..</param>
        /// <returns>Returns the ApiResponse of Models.IntelligenceSuccessResult response from the API call.</returns>
        public ApiResponse<Models.IntelligenceSuccessResult> ActivateAnomalyDetection(
                Models.AnomalyDetectionRequest body)
            => CoreHelper.RunTask(ActivateAnomalyDetectionAsync(body));

        /// <summary>
        /// Uses the subscribed account ID to activate anomaly detection and set threshold values.
        /// </summary>
        /// <param name="body">Required parameter: Request to activate anomaly detection..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.IntelligenceSuccessResult response from the API call.</returns>
        public async Task<ApiResponse<Models.IntelligenceSuccessResult>> ActivateAnomalyDetectionAsync(
                Models.AnomalyDetectionRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.IntelligenceSuccessResult>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/m2m/v1/intelligence/anomaly/settings")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("An error occurred.", (errorReason, context) => new IntelligenceResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieves the current anomaly detection settings for an account.
        /// </summary>
        /// <param name="accountName">Required parameter: The name of the subscribed account..</param>
        /// <returns>Returns the ApiResponse of Models.AnomalyDetectionSettings response from the API call.</returns>
        public ApiResponse<Models.AnomalyDetectionSettings> ListAnomalyDetectionSettings(
                string accountName)
            => CoreHelper.RunTask(ListAnomalyDetectionSettingsAsync(accountName));

        /// <summary>
        /// Retrieves the current anomaly detection settings for an account.
        /// </summary>
        /// <param name="accountName">Required parameter: The name of the subscribed account..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AnomalyDetectionSettings response from the API call.</returns>
        public async Task<ApiResponse<Models.AnomalyDetectionSettings>> ListAnomalyDetectionSettingsAsync(
                string accountName,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AnomalyDetectionSettings>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/m2m/v1/intelligence/{accountName}/anomaly/settings")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("accountName", accountName))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("An error occurred.", (errorReason, context) => new IntelligenceResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Resets the thresholds to zero.
        /// </summary>
        /// <param name="accountName">Required parameter: The name of the subscribed account..</param>
        /// <returns>Returns the ApiResponse of Models.IntelligenceSuccessResult response from the API call.</returns>
        public ApiResponse<Models.IntelligenceSuccessResult> ResetAnomalyDetectionParameters(
                string accountName)
            => CoreHelper.RunTask(ResetAnomalyDetectionParametersAsync(accountName));

        /// <summary>
        /// Resets the thresholds to zero.
        /// </summary>
        /// <param name="accountName">Required parameter: The name of the subscribed account..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.IntelligenceSuccessResult response from the API call.</returns>
        public async Task<ApiResponse<Models.IntelligenceSuccessResult>> ResetAnomalyDetectionParametersAsync(
                string accountName,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.IntelligenceSuccessResult>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/m2m/v1/intelligence/{accountName}/anomaly/settings/reset")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("accountName", accountName))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("An error occurred.", (errorReason, context) => new IntelligenceResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}