// <copyright file="BillingController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// BillingController.
    /// </summary>
    public class BillingController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="BillingController"/> class.
        /// </summary>
        internal BillingController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// This endpoint allows user to add managed accounts to a primary account.
        /// </summary>
        /// <param name="body">Required parameter: Service name and list of accounts to add.</param>
        /// <returns>Returns the ApiResponse of Models.ManagedAccountsAddResponse response from the API call.</returns>
        public ApiResponse<Models.ManagedAccountsAddResponse> AddAccount(
                Models.ManagedAccountsAddRequest body)
            => CoreHelper.RunTask(AddAccountAsync(body));

        /// <summary>
        /// This endpoint allows user to add managed accounts to a primary account.
        /// </summary>
        /// <param name="body">Required parameter: Service name and list of accounts to add.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ManagedAccountsAddResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ManagedAccountsAddResponse>> AddAccountAsync(
                Models.ManagedAccountsAddRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ManagedAccountsAddResponse>()
              .Server(Server.SubscriptionServer)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/managedaccounts/actions/add")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error", (errorReason, context) => new DeviceLocationResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Activates a managed billing service relationship between a managed account and the primary account.
        /// </summary>
        /// <param name="body">Required parameter: Service name and list of accounts to add.</param>
        /// <returns>Returns the ApiResponse of Models.ManagedAccountsProvisionResponse response from the API call.</returns>
        public ApiResponse<Models.ManagedAccountsProvisionResponse> ManagedAccountAction(
                Models.ManagedAccountsProvisionRequest body)
            => CoreHelper.RunTask(ManagedAccountActionAsync(body));

        /// <summary>
        /// Activates a managed billing service relationship between a managed account and the primary account.
        /// </summary>
        /// <param name="body">Required parameter: Service name and list of accounts to add.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ManagedAccountsProvisionResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ManagedAccountsProvisionResponse>> ManagedAccountActionAsync(
                Models.ManagedAccountsProvisionRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ManagedAccountsProvisionResponse>()
              .Server(Server.SubscriptionServer)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/managedaccounts/actions/provision")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error", (errorReason, context) => new DeviceLocationResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Deactivates a managed billing service relationship between a managed account and the primary account. .
        /// </summary>
        /// <param name="body">Required parameter: Service name and list of accounts to add.</param>
        /// <returns>Returns the ApiResponse of Models.ManagedAccountCancelResponse response from the API call.</returns>
        public ApiResponse<Models.ManagedAccountCancelResponse> CancelManagedAccountAction(
                Models.ManagedAccountCancelRequest body)
            => CoreHelper.RunTask(CancelManagedAccountActionAsync(body));

        /// <summary>
        /// Deactivates a managed billing service relationship between a managed account and the primary account. .
        /// </summary>
        /// <param name="body">Required parameter: Service name and list of accounts to add.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ManagedAccountCancelResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ManagedAccountCancelResponse>> CancelManagedAccountActionAsync(
                Models.ManagedAccountCancelRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ManagedAccountCancelResponse>()
              .Server(Server.SubscriptionServer)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/managedaccounts/actions/cancel")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error", (errorReason, context) => new DeviceLocationResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This endpoint allows user to retrieve the list of all accounts managed by a primary account.
        /// </summary>
        /// <param name="accountName">Required parameter: Primary account identifier.</param>
        /// <param name="serviceName">Required parameter: Service name.</param>
        /// <returns>Returns the ApiResponse of Models.ManagedAccountsGetAllResponse response from the API call.</returns>
        public ApiResponse<Models.ManagedAccountsGetAllResponse> ListManagedAccount(
                string accountName,
                string serviceName)
            => CoreHelper.RunTask(ListManagedAccountAsync(accountName, serviceName));

        /// <summary>
        /// This endpoint allows user to retrieve the list of all accounts managed by a primary account.
        /// </summary>
        /// <param name="accountName">Required parameter: Primary account identifier.</param>
        /// <param name="serviceName">Required parameter: Service name.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ManagedAccountsGetAllResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ManagedAccountsGetAllResponse>> ListManagedAccountAsync(
                string accountName,
                string serviceName,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ManagedAccountsGetAllResponse>()
              .Server(Server.SubscriptionServer)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/managedaccounts/{accountName}/service/{serviceName}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("accountName", accountName))
                      .Template(template => template.Setup("serviceName", serviceName))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error", (errorReason, context) => new DeviceLocationResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}