// <copyright file="CampaignsV3Controller.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// CampaignsV3Controller.
    /// </summary>
    public class CampaignsV3Controller : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="CampaignsV3Controller"/> class.
        /// </summary>
        internal CampaignsV3Controller(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// This endpoint allows a user to schedule a firmware upgrade for a list of devices.
        /// </summary>
        /// <param name="accountName">Required parameter: Account identifier..</param>
        /// <param name="body">Required parameter: Firmware upgrade information..</param>
        /// <returns>Returns the ApiResponse of Models.FirmwareCampaign response from the API call.</returns>
        public ApiResponse<Models.FirmwareCampaign> ScheduleCampaignFirmwareUpgrade(
                string accountName,
                Models.CampaignFirmwareUpgrade body)
            => CoreHelper.RunTask(ScheduleCampaignFirmwareUpgradeAsync(accountName, body));

        /// <summary>
        /// This endpoint allows a user to schedule a firmware upgrade for a list of devices.
        /// </summary>
        /// <param name="accountName">Required parameter: Account identifier..</param>
        /// <param name="body">Required parameter: Firmware upgrade information..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.FirmwareCampaign response from the API call.</returns>
        public async Task<ApiResponse<Models.FirmwareCampaign>> ScheduleCampaignFirmwareUpgradeAsync(
                string accountName,
                Models.CampaignFirmwareUpgrade body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.FirmwareCampaign>()
              .Server(Server.SoftwareManagementV3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/campaigns/firmware/{accountName}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("accountName", accountName))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV3ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This endpoint allows user to Add or Remove devices to an existing campaign.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="campaignId">Required parameter: Unique identifier of a campaign..</param>
        /// <param name="body">Required parameter: Add or remove device to existing upgrade information..</param>
        /// <returns>Returns the ApiResponse of Models.V3AddOrRemoveDeviceResult response from the API call.</returns>
        public ApiResponse<Models.V3AddOrRemoveDeviceResult> UpdateCampaignFirmwareDevices(
                string acc,
                string campaignId,
                Models.V3AddOrRemoveDeviceRequest body)
            => CoreHelper.RunTask(UpdateCampaignFirmwareDevicesAsync(acc, campaignId, body));

        /// <summary>
        /// This endpoint allows user to Add or Remove devices to an existing campaign.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="campaignId">Required parameter: Unique identifier of a campaign..</param>
        /// <param name="body">Required parameter: Add or remove device to existing upgrade information..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V3AddOrRemoveDeviceResult response from the API call.</returns>
        public async Task<ApiResponse<Models.V3AddOrRemoveDeviceResult>> UpdateCampaignFirmwareDevicesAsync(
                string acc,
                string campaignId,
                Models.V3AddOrRemoveDeviceRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V3AddOrRemoveDeviceResult>()
              .Server(Server.SoftwareManagementV3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/campaigns/firmware/{acc}/{campaignId}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("acc", acc))
                      .Template(template => template.Setup("campaignId", campaignId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV3ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This endpoint allows user to change campaign dates and time windows. Fields which need to remain unchanged should be also provided.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="campaignId">Required parameter: Firmware upgrade information..</param>
        /// <param name="body">Required parameter: New dates and time windows..</param>
        /// <returns>Returns the ApiResponse of Models.FirmwareCampaign response from the API call.</returns>
        public ApiResponse<Models.FirmwareCampaign> UpdateCampaignDates(
                string acc,
                string campaignId,
                Models.V3ChangeCampaignDatesRequest body)
            => CoreHelper.RunTask(UpdateCampaignDatesAsync(acc, campaignId, body));

        /// <summary>
        /// This endpoint allows user to change campaign dates and time windows. Fields which need to remain unchanged should be also provided.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="campaignId">Required parameter: Firmware upgrade information..</param>
        /// <param name="body">Required parameter: New dates and time windows..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.FirmwareCampaign response from the API call.</returns>
        public async Task<ApiResponse<Models.FirmwareCampaign>> UpdateCampaignDatesAsync(
                string acc,
                string campaignId,
                Models.V3ChangeCampaignDatesRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.FirmwareCampaign>()
              .Server(Server.SoftwareManagementV3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/campaigns/firmware/{acc}/{campaignId}/dates")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("acc", acc))
                      .Template(template => template.Setup("campaignId", campaignId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV3ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This endpoint allows the user to retrieve campaign level information for a specified campaign.
        /// </summary>
        /// <param name="accountName">Required parameter: Account identifier..</param>
        /// <param name="campaignId">Required parameter: Firmware upgrade identifier..</param>
        /// <returns>Returns the ApiResponse of Models.Campaign response from the API call.</returns>
        public ApiResponse<Models.Campaign> GetCampaignInformation(
                string accountName,
                string campaignId)
            => CoreHelper.RunTask(GetCampaignInformationAsync(accountName, campaignId));

        /// <summary>
        /// This endpoint allows the user to retrieve campaign level information for a specified campaign.
        /// </summary>
        /// <param name="accountName">Required parameter: Account identifier..</param>
        /// <param name="campaignId">Required parameter: Firmware upgrade identifier..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Campaign response from the API call.</returns>
        public async Task<ApiResponse<Models.Campaign>> GetCampaignInformationAsync(
                string accountName,
                string campaignId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Campaign>()
              .Server(Server.SoftwareManagementV3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/campaigns/{accountName}/{campaignId}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("accountName", accountName))
                      .Template(template => template.Setup("campaignId", campaignId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV3ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This endpoint allows user to cancel a firmware campaign. A firmware campaign already started can not be cancelled.
        /// </summary>
        /// <param name="accountName">Required parameter: Account identifier..</param>
        /// <param name="campaignId">Required parameter: Firmware upgrade information..</param>
        /// <returns>Returns the ApiResponse of Models.FotaV3SuccessResult response from the API call.</returns>
        public ApiResponse<Models.FotaV3SuccessResult> CancelCampaign(
                string accountName,
                string campaignId)
            => CoreHelper.RunTask(CancelCampaignAsync(accountName, campaignId));

        /// <summary>
        /// This endpoint allows user to cancel a firmware campaign. A firmware campaign already started can not be cancelled.
        /// </summary>
        /// <param name="accountName">Required parameter: Account identifier..</param>
        /// <param name="campaignId">Required parameter: Firmware upgrade information..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.FotaV3SuccessResult response from the API call.</returns>
        public async Task<ApiResponse<Models.FotaV3SuccessResult>> CancelCampaignAsync(
                string accountName,
                string campaignId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.FotaV3SuccessResult>()
              .Server(Server.SoftwareManagementV3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/campaigns/{accountName}/{campaignId}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("accountName", accountName))
                      .Template(template => template.Setup("campaignId", campaignId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV3ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}