// <copyright file="ConfigurationFilesController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Client;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// ConfigurationFilesController.
    /// </summary>
    public class ConfigurationFilesController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ConfigurationFilesController"/> class.
        /// </summary>
        internal ConfigurationFilesController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// You can retrieve a list of configuration or supplementary of files for an account.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="distributionType">Required parameter: Filter the distributionType to only retrieve files for a specific distribution type..</param>
        /// <returns>Returns the ApiResponse of Models.RetrievesAvailableFilesResponseList response from the API call.</returns>
        public ApiResponse<Models.RetrievesAvailableFilesResponseList> GetListOfFiles(
                string acc,
                string distributionType)
            => CoreHelper.RunTask(GetListOfFilesAsync(acc, distributionType));

        /// <summary>
        /// You can retrieve a list of configuration or supplementary of files for an account.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="distributionType">Required parameter: Filter the distributionType to only retrieve files for a specific distribution type..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.RetrievesAvailableFilesResponseList response from the API call.</returns>
        public async Task<ApiResponse<Models.RetrievesAvailableFilesResponseList>> GetListOfFilesAsync(
                string acc,
                string distributionType,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.RetrievesAvailableFilesResponseList>()
              .Server(Server.SoftwareManagementV2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/files/{acc}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("acc", acc))
                      .Query(query => query.Setup("distributionType", distributionType))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV2ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Uploads a configuration/supplementary file for an account. ThingSpace generates a fileName after the upload and is returned in the response.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="fileupload">Optional parameter: The file to upload..</param>
        /// <param name="fileVersion">Optional parameter: Version of the file..</param>
        /// <param name="make">Optional parameter: The software-applicable device make..</param>
        /// <param name="model">Optional parameter: The software-applicable device model..</param>
        /// <param name="localTargetPath">Optional parameter: Local target path on the device..</param>
        /// <returns>Returns the ApiResponse of Models.UploadConfigurationFilesResponse response from the API call.</returns>
        public ApiResponse<Models.UploadConfigurationFilesResponse> UploadConfigFile(
                string acc,
                FileStreamInfo fileupload = null,
                string fileVersion = null,
                string make = null,
                string model = null,
                string localTargetPath = null)
            => CoreHelper.RunTask(UploadConfigFileAsync(acc, fileupload, fileVersion, make, model, localTargetPath));

        /// <summary>
        /// Uploads a configuration/supplementary file for an account. ThingSpace generates a fileName after the upload and is returned in the response.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="fileupload">Optional parameter: The file to upload..</param>
        /// <param name="fileVersion">Optional parameter: Version of the file..</param>
        /// <param name="make">Optional parameter: The software-applicable device make..</param>
        /// <param name="model">Optional parameter: The software-applicable device model..</param>
        /// <param name="localTargetPath">Optional parameter: Local target path on the device..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.UploadConfigurationFilesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.UploadConfigurationFilesResponse>> UploadConfigFileAsync(
                string acc,
                FileStreamInfo fileupload = null,
                string fileVersion = null,
                string make = null,
                string model = null,
                string localTargetPath = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.UploadConfigurationFilesResponse>()
              .Server(Server.SoftwareManagementV2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/files/{acc}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("acc", acc))
                      .Form(form => form.Setup("fileupload", fileupload))
                      .Form(form => form.Setup("fileVersion", fileVersion))
                      .Form(form => form.Setup("make", make))
                      .Form(form => form.Setup("model", model))
                      .Form(form => form.Setup("localTargetPath", localTargetPath))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV2ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}