// <copyright file="ConnectivityCallbacksController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// ConnectivityCallbacksController.
    /// </summary>
    public class ConnectivityCallbacksController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ConnectivityCallbacksController"/> class.
        /// </summary>
        internal ConnectivityCallbacksController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Returns the name and endpoint URL of the callback listening services registered for a given account.
        /// </summary>
        /// <param name="aname">Required parameter: Account name..</param>
        /// <returns>Returns the ApiResponse of List of Models.ConnectivityManagementCallback response from the API call.</returns>
        public ApiResponse<List<Models.ConnectivityManagementCallback>> ListRegisteredCallbacks(
                string aname)
            => CoreHelper.RunTask(ListRegisteredCallbacksAsync(aname));

        /// <summary>
        /// Returns the name and endpoint URL of the callback listening services registered for a given account.
        /// </summary>
        /// <param name="aname">Required parameter: Account name..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.ConnectivityManagementCallback response from the API call.</returns>
        public async Task<ApiResponse<List<Models.ConnectivityManagementCallback>>> ListRegisteredCallbacksAsync(
                string aname,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.ConnectivityManagementCallback>>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/m2m/v1/callbacks/{aname}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("aname", aname))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Error response.", (errorReason, context) => new ConnectivityManagementResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// You are responsible for creating and running a listening process on your server at that URL.
        /// </summary>
        /// <param name="aname">Required parameter: Account name..</param>
        /// <param name="body">Required parameter: Request to register a callback..</param>
        /// <returns>Returns the ApiResponse of Models.CallbackActionResult response from the API call.</returns>
        public ApiResponse<Models.CallbackActionResult> RegisterCallback(
                string aname,
                Models.RegisterCallbackRequest body)
            => CoreHelper.RunTask(RegisterCallbackAsync(aname, body));

        /// <summary>
        /// You are responsible for creating and running a listening process on your server at that URL.
        /// </summary>
        /// <param name="aname">Required parameter: Account name..</param>
        /// <param name="body">Required parameter: Request to register a callback..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.CallbackActionResult response from the API call.</returns>
        public async Task<ApiResponse<Models.CallbackActionResult>> RegisterCallbackAsync(
                string aname,
                Models.RegisterCallbackRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.CallbackActionResult>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/m2m/v1/callbacks/{aname}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("aname", aname))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Error response.", (errorReason, context) => new ConnectivityManagementResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Stops ThingSpace from sending callback messages for the specified account and service.
        /// </summary>
        /// <param name="aname">Required parameter: Account name..</param>
        /// <param name="sname">Required parameter: Service name..</param>
        /// <returns>Returns the ApiResponse of Models.CallbackActionResult response from the API call.</returns>
        public ApiResponse<Models.CallbackActionResult> DeregisterCallback(
                string aname,
                string sname)
            => CoreHelper.RunTask(DeregisterCallbackAsync(aname, sname));

        /// <summary>
        /// Stops ThingSpace from sending callback messages for the specified account and service.
        /// </summary>
        /// <param name="aname">Required parameter: Account name..</param>
        /// <param name="sname">Required parameter: Service name..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.CallbackActionResult response from the API call.</returns>
        public async Task<ApiResponse<Models.CallbackActionResult>> DeregisterCallbackAsync(
                string aname,
                string sname,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.CallbackActionResult>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/m2m/v1/callbacks/{aname}/name/{sname}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("aname", aname))
                      .Template(template => template.Setup("sname", sname))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Error response.", (errorReason, context) => new ConnectivityManagementResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}