// <copyright file="CreatePricePlanTriggersController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;
using Verizon.Standard.Models.Containers;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// CreatePricePlanTriggersController.
    /// </summary>
    public class CreatePricePlanTriggersController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="CreatePricePlanTriggersController"/> class.
        /// </summary>
        internal CreatePricePlanTriggersController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Create a usage trigger at the account level, device level or a price plan trigger for all devices on the account.
        /// </summary>
        /// <param name="body">Required parameter: Create a trigger.</param>
        /// <returns>Returns the ApiResponse of Models.TriggerResponse response from the API call.</returns>
        public ApiResponse<Models.TriggerResponse> CreateTriggerRules(
                CreateTriggerRulesBody body)
            => CoreHelper.RunTask(CreateTriggerRulesAsync(body));

        /// <summary>
        /// Create a usage trigger at the account level, device level or a price plan trigger for all devices on the account.
        /// </summary>
        /// <param name="body">Required parameter: Create a trigger.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TriggerResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.TriggerResponse>> CreateTriggerRulesAsync(
                CreateTriggerRulesBody body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TriggerResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v2/triggers")
                  .WithOrAuth(orAuth => orAuth
                      .Add("thingspace_oauth1")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new RuleRestErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}