// <copyright file="DeviceDiagnosticsController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// DeviceDiagnosticsController.
    /// </summary>
    public class DeviceDiagnosticsController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="DeviceDiagnosticsController"/> class.
        /// </summary>
        internal DeviceDiagnosticsController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// If the devices do not already exist in the account, this API resource adds them before activation.
        /// </summary>
        /// <param name="body">Required parameter: Retrieve Reachability Report Status for a device..</param>
        /// <returns>Returns the ApiResponse of Models.DeviceManagementResult response from the API call.</returns>
        public ApiResponse<Models.DeviceManagementResult> DeviceReachabilityStatusUsingPOST(
                Models.NotificationReportStatusRequest body)
            => CoreHelper.RunTask(DeviceReachabilityStatusUsingPOSTAsync(body));

        /// <summary>
        /// If the devices do not already exist in the account, this API resource adds them before activation.
        /// </summary>
        /// <param name="body">Required parameter: Retrieve Reachability Report Status for a device..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DeviceManagementResult response from the API call.</returns>
        public async Task<ApiResponse<Models.DeviceManagementResult>> DeviceReachabilityStatusUsingPOSTAsync(
                Models.NotificationReportStatusRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DeviceManagementResult>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/m2m/v1/diagnostics/basic/devicereachability/status")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Error response.", (errorReason, context) => new ConnectivityManagementResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieve all the active monitors.
        /// </summary>
        /// <param name="body">Required parameter: Retrieve Monitor Request..</param>
        /// <returns>Returns the ApiResponse of Models.DeviceManagementResult response from the API call.</returns>
        public ApiResponse<Models.DeviceManagementResult> RetrieveActiveMonitorsUsingPOST(
                Models.RetrieveMonitorsRequest body)
            => CoreHelper.RunTask(RetrieveActiveMonitorsUsingPOSTAsync(body));

        /// <summary>
        /// Retrieve all the active monitors.
        /// </summary>
        /// <param name="body">Required parameter: Retrieve Monitor Request..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DeviceManagementResult response from the API call.</returns>
        public async Task<ApiResponse<Models.DeviceManagementResult>> RetrieveActiveMonitorsUsingPOSTAsync(
                Models.RetrieveMonitorsRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DeviceManagementResult>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/m2m/v1/diagnostics/basic/devicereachability/monitors")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Error response.", (errorReason, context) => new ConnectivityManagementResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}