// <copyright file="DeviceMonitoringController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// DeviceMonitoringController.
    /// </summary>
    public class DeviceMonitoringController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="DeviceMonitoringController"/> class.
        /// </summary>
        internal DeviceMonitoringController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// DeviceReachability EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Create Reachability Report Request.</param>
        /// <returns>Returns the ApiResponse of Models.RequestResponse response from the API call.</returns>
        public ApiResponse<Models.RequestResponse> DeviceReachability(
                Models.NotificationReportRequest body)
            => CoreHelper.RunTask(DeviceReachabilityAsync(body));

        /// <summary>
        /// DeviceReachability EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Create Reachability Report Request.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.RequestResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.RequestResponse>> DeviceReachabilityAsync(
                Models.NotificationReportRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.RequestResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/m2m/v1/diagnostics/basic/devicereachability")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Error Response", (errorReason, context) => new RestErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// StopDeviceReachability EndPoint.
        /// </summary>
        /// <param name="stopreachabilitypayload">Required parameter: Payload for the Stop Device Reachability monitors request..</param>
        /// <returns>Returns the ApiResponse of Models.RequestResponse response from the API call.</returns>
        public ApiResponse<Models.RequestResponse> StopDeviceReachability(
                Models.StopMonitorRequest stopreachabilitypayload)
            => CoreHelper.RunTask(StopDeviceReachabilityAsync(stopreachabilitypayload));

        /// <summary>
        /// StopDeviceReachability EndPoint.
        /// </summary>
        /// <param name="stopreachabilitypayload">Required parameter: Payload for the Stop Device Reachability monitors request..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.RequestResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.RequestResponse>> StopDeviceReachabilityAsync(
                Models.StopMonitorRequest stopreachabilitypayload,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.RequestResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/m2m/v1/diagnostics/basic/devicereachability")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("stopreachabilitypayload", stopreachabilitypayload))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Error Response", (errorReason, context) => new RestErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}