// <copyright file="DeviceReportsController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// DeviceReportsController.
    /// </summary>
    public class DeviceReportsController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="DeviceReportsController"/> class.
        /// </summary>
        internal DeviceReportsController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Calculate aggregated report per day with number of sessions and usage information. User will receive synchronous response for specified list of devices (Max 10) and date range (Max 180 days).
        /// </summary>
        /// <param name="body">Required parameter: Aggregated report request..</param>
        /// <returns>Returns the ApiResponse of Models.AggregateSessionReport response from the API call.</returns>
        public ApiResponse<Models.AggregateSessionReport> CalculateAggregatedReportSynchronous(
                Models.AggregateSessionReportRequest body)
            => CoreHelper.RunTask(CalculateAggregatedReportSynchronousAsync(body));

        /// <summary>
        /// Calculate aggregated report per day with number of sessions and usage information. User will receive synchronous response for specified list of devices (Max 10) and date range (Max 180 days).
        /// </summary>
        /// <param name="body">Required parameter: Aggregated report request..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AggregateSessionReport response from the API call.</returns>
        public async Task<ApiResponse<Models.AggregateSessionReport>> CalculateAggregatedReportSynchronousAsync(
                Models.AggregateSessionReportRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AggregateSessionReport>()
              .Server(Server.HyperPreciseLocation)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/report/aggregate")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized request. Access token is missing or invalid.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden request.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Bad request. Not found.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("409", CreateErrorCase("Bad request. Conflict state.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Calculate aggregated report per day with number of sessions and usage information. User will receive an asynchronous callback for the specified list of devices (Max 10000) and date range (Max 180 days).
        /// </summary>
        /// <param name="body">Required parameter: Aggregated session report request..</param>
        /// <returns>Returns the ApiResponse of Models.AggregatedReportCallbackResult response from the API call.</returns>
        public ApiResponse<Models.AggregatedReportCallbackResult> CalculateAggregatedReportAsynchronous(
                Models.AggregateSessionReportRequest body)
            => CoreHelper.RunTask(CalculateAggregatedReportAsynchronousAsync(body));

        /// <summary>
        /// Calculate aggregated report per day with number of sessions and usage information. User will receive an asynchronous callback for the specified list of devices (Max 10000) and date range (Max 180 days).
        /// </summary>
        /// <param name="body">Required parameter: Aggregated session report request..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AggregatedReportCallbackResult response from the API call.</returns>
        public async Task<ApiResponse<Models.AggregatedReportCallbackResult>> CalculateAggregatedReportAsynchronousAsync(
                Models.AggregateSessionReportRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AggregatedReportCallbackResult>()
              .Server(Server.HyperPreciseLocation)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/report/async/aggregate")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized request. Access token is missing or invalid.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden request.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Bad request. Not found.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("409", CreateErrorCase("Bad request. Conflict state.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Detailed report of session duration and number of bytes transferred per day.
        /// </summary>
        /// <param name="body">Required parameter: Request for sessions report..</param>
        /// <returns>Returns the ApiResponse of Models.SessionReport response from the API call.</returns>
        public ApiResponse<Models.SessionReport> GetSessionsReport(
                Models.SessionReportRequest body)
            => CoreHelper.RunTask(GetSessionsReportAsync(body));

        /// <summary>
        /// Detailed report of session duration and number of bytes transferred per day.
        /// </summary>
        /// <param name="body">Required parameter: Request for sessions report..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.SessionReport response from the API call.</returns>
        public async Task<ApiResponse<Models.SessionReport>> GetSessionsReportAsync(
                Models.SessionReportRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.SessionReport>()
              .Server(Server.HyperPreciseLocation)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/report/sessions")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized request. Access token is missing or invalid.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden request.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Bad request. Not found.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("409", CreateErrorCase("Bad request. Conflict state.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}