// <copyright file="DeviceLocationCallbacksController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// DeviceLocationCallbacksController.
    /// </summary>
    public class DeviceLocationCallbacksController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="DeviceLocationCallbacksController"/> class.
        /// </summary>
        internal DeviceLocationCallbacksController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Cancel an asynchronous report request.
        /// </summary>
        /// <param name="accountName">Required parameter: Account identifier in "##########-#####"..</param>
        /// <param name="txid">Required parameter: The `transactionId` value..</param>
        /// <returns>Returns the ApiResponse of Models.TransactionID response from the API call.</returns>
        public ApiResponse<Models.TransactionID> CancelAsyncReport(
                string accountName,
                string txid)
            => CoreHelper.RunTask(CancelAsyncReportAsync(accountName, txid));

        /// <summary>
        /// Cancel an asynchronous report request.
        /// </summary>
        /// <param name="accountName">Required parameter: Account identifier in "##########-#####"..</param>
        /// <param name="txid">Required parameter: The `transactionId` value..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TransactionID response from the API call.</returns>
        public async Task<ApiResponse<Models.TransactionID>> CancelAsyncReportAsync(
                string accountName,
                string txid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TransactionID>()
              .Server(Server.DeviceLocation)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/devicelocations/{txid}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("accountName", accountName))
                      .Template(template => template.Setup("txid", txid))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Unexpected error.", (errorReason, context) => new DeviceLocationResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns a list of all registered callback URLs for the account.
        /// </summary>
        /// <param name="accountName">Required parameter: Account number..</param>
        /// <returns>Returns the ApiResponse of List of Models.DeviceLocationCallback response from the API call.</returns>
        public ApiResponse<List<Models.DeviceLocationCallback>> ListRegisteredCallbacks(
                string accountName)
            => CoreHelper.RunTask(ListRegisteredCallbacksAsync(accountName));

        /// <summary>
        /// Returns a list of all registered callback URLs for the account.
        /// </summary>
        /// <param name="accountName">Required parameter: Account number..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.DeviceLocationCallback response from the API call.</returns>
        public async Task<ApiResponse<List<Models.DeviceLocationCallback>>> ListRegisteredCallbacksAsync(
                string accountName,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.DeviceLocationCallback>>()
              .Server(Server.DeviceLocation)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/callbacks/{accountName}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("accountName", accountName))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Error response.", (errorReason, context) => new DeviceLocationResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Provide a URL to receive messages from a ThingSpace callback service.
        /// </summary>
        /// <param name="accountName">Required parameter: Account number..</param>
        /// <param name="body">Required parameter: Request to register a callback..</param>
        /// <returns>Returns the ApiResponse of Models.CallbackRegistrationResult response from the API call.</returns>
        public ApiResponse<Models.CallbackRegistrationResult> RegisterCallback(
                string accountName,
                Models.DeviceLocationCallback body)
            => CoreHelper.RunTask(RegisterCallbackAsync(accountName, body));

        /// <summary>
        /// Provide a URL to receive messages from a ThingSpace callback service.
        /// </summary>
        /// <param name="accountName">Required parameter: Account number..</param>
        /// <param name="body">Required parameter: Request to register a callback..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.CallbackRegistrationResult response from the API call.</returns>
        public async Task<ApiResponse<Models.CallbackRegistrationResult>> RegisterCallbackAsync(
                string accountName,
                Models.DeviceLocationCallback body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.CallbackRegistrationResult>()
              .Server(Server.DeviceLocation)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/callbacks/{accountName}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("accountName", accountName))
                      .Header(header => header.Setup("Content-Type", "*/*"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Error response.", (errorReason, context) => new DeviceLocationResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Deregister a URL to stop receiving callback messages.
        /// </summary>
        /// <param name="accountName">Required parameter: Account number..</param>
        /// <param name="service">Required parameter: Callback service name..</param>
        /// <returns>Returns the ApiResponse of Models.DeviceLocationSuccessResult response from the API call.</returns>
        public ApiResponse<Models.DeviceLocationSuccessResult> DeregisterCallback(
                string accountName,
                Models.CallbackServiceNameEnum service)
            => CoreHelper.RunTask(DeregisterCallbackAsync(accountName, service));

        /// <summary>
        /// Deregister a URL to stop receiving callback messages.
        /// </summary>
        /// <param name="accountName">Required parameter: Account number..</param>
        /// <param name="service">Required parameter: Callback service name..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DeviceLocationSuccessResult response from the API call.</returns>
        public async Task<ApiResponse<Models.DeviceLocationSuccessResult>> DeregisterCallbackAsync(
                string accountName,
                Models.CallbackServiceNameEnum service,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DeviceLocationSuccessResult>()
              .Server(Server.DeviceLocation)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/callbacks/{accountName}/name/{service}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("accountName", accountName))
                      .Template(template => template.Setup("service", CoreHelper.JsonSerialize(service).Trim('\"')))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Error response.", (errorReason, context) => new DeviceLocationResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}