// <copyright file="DeviceServiceManagementController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// DeviceServiceManagementController.
    /// </summary>
    public class DeviceServiceManagementController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="DeviceServiceManagementController"/> class.
        /// </summary>
        internal DeviceServiceManagementController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Gets the list of a status for hyper-precise location devices.
        /// </summary>
        /// <param name="imei">Required parameter: The International Mobile Equipment Identifier of the device..</param>
        /// <param name="accountNumber">Required parameter: The numeric name of the account and must include leading zeroes..</param>
        /// <returns>Returns the ApiResponse of Models.BullseyeServiceResult response from the API call.</returns>
        public ApiResponse<Models.BullseyeServiceResult> GetDeviceHyperPreciseStatus(
                string imei,
                string accountNumber)
            => CoreHelper.RunTask(GetDeviceHyperPreciseStatusAsync(imei, accountNumber));

        /// <summary>
        /// Gets the list of a status for hyper-precise location devices.
        /// </summary>
        /// <param name="imei">Required parameter: The International Mobile Equipment Identifier of the device..</param>
        /// <param name="accountNumber">Required parameter: The numeric name of the account and must include leading zeroes..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.BullseyeServiceResult response from the API call.</returns>
        public async Task<ApiResponse<Models.BullseyeServiceResult>> GetDeviceHyperPreciseStatusAsync(
                string imei,
                string accountNumber,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.BullseyeServiceResult>()
              .Server(Server.HyperPreciseLocation)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/devices/services")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("imei", imei))
                      .Query(query => query.Setup("accountNumber", accountNumber))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized request. Access token is missing or invalid.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden request.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Bad request. Not found.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("409", CreateErrorCase("Bad request. Conflict state.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Enable/disable hyper-precise service for a device.
        /// </summary>
        /// <param name="body">Required parameter: List of devices and hyper-precise required statuses..</param>
        /// <returns>Returns the ApiResponse of Models.BullseyeServiceResult response from the API call.</returns>
        public ApiResponse<Models.BullseyeServiceResult> UpdateDeviceHyperPreciseStatus(
                Models.BullseyeServiceRequest body)
            => CoreHelper.RunTask(UpdateDeviceHyperPreciseStatusAsync(body));

        /// <summary>
        /// Enable/disable hyper-precise service for a device.
        /// </summary>
        /// <param name="body">Required parameter: List of devices and hyper-precise required statuses..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.BullseyeServiceResult response from the API call.</returns>
        public async Task<ApiResponse<Models.BullseyeServiceResult>> UpdateDeviceHyperPreciseStatusAsync(
                Models.BullseyeServiceRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.BullseyeServiceResult>()
              .Server(Server.HyperPreciseLocation)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/devices/services")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized request. Access token is missing or invalid.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden request.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Bad request. Not found.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("409", CreateErrorCase("Bad request. Conflict state.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}