// <copyright file="DeviceSMSMessagingController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// DeviceSMSMessagingController.
    /// </summary>
    public class DeviceSMSMessagingController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="DeviceSMSMessagingController"/> class.
        /// </summary>
        internal DeviceSMSMessagingController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Sends an SMS message to one device. Messages are queued on the M2M MC Platform and sent as soon as possible, but they may be delayed due to traffic and routing considerations.
        /// </summary>
        /// <param name="body">Required parameter: SMS message to an indiividual device..</param>
        /// <returns>Returns the ApiResponse of Models.GIORequestResponse response from the API call.</returns>
        public ApiResponse<Models.GIORequestResponse> SendAnSmsMessage(
                Models.GIOSMSSendRequest body)
            => CoreHelper.RunTask(SendAnSmsMessageAsync(body));

        /// <summary>
        /// Sends an SMS message to one device. Messages are queued on the M2M MC Platform and sent as soon as possible, but they may be delayed due to traffic and routing considerations.
        /// </summary>
        /// <param name="body">Required parameter: SMS message to an indiividual device..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.GIORequestResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.GIORequestResponse>> SendAnSmsMessageAsync(
                Models.GIOSMSSendRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GIORequestResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/m2m/v1/sms")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new GIORestErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieves queued SMS messages sent by all M2M MC devices associated with an account.
        /// </summary>
        /// <param name="accountName">Required parameter: Numeric account name.</param>
        /// <param name="next">Optional parameter: Continue the previous query from the pageUrl in Location Header.</param>
        /// <returns>Returns the ApiResponse of Models.SmsMessagesResponse response from the API call.</returns>
        public ApiResponse<Models.SmsMessagesResponse> GetSmsMessages(
                string accountName,
                string next = null)
            => CoreHelper.RunTask(GetSmsMessagesAsync(accountName, next));

        /// <summary>
        /// Retrieves queued SMS messages sent by all M2M MC devices associated with an account.
        /// </summary>
        /// <param name="accountName">Required parameter: Numeric account name.</param>
        /// <param name="next">Optional parameter: Continue the previous query from the pageUrl in Location Header.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.SmsMessagesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.SmsMessagesResponse>> GetSmsMessagesAsync(
                string accountName,
                string next = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.SmsMessagesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/m2m/v1/sms/{accountName}/history")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("accountName", accountName))
                      .Query(query => query.Setup("next", next))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new GIORestErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Starts delivery of SMS messages for the specified account.
        /// </summary>
        /// <param name="accountName">Required parameter: Numeric account name.</param>
        /// <returns>Returns the ApiResponse of Models.SuccessResponse response from the API call.</returns>
        public ApiResponse<Models.SuccessResponse> StartSmsMessageDelivery(
                string accountName)
            => CoreHelper.RunTask(StartSmsMessageDeliveryAsync(accountName));

        /// <summary>
        /// Starts delivery of SMS messages for the specified account.
        /// </summary>
        /// <param name="accountName">Required parameter: Numeric account name.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.SuccessResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.SuccessResponse>> StartSmsMessageDeliveryAsync(
                string accountName,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.SuccessResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/m2m/v1/sms/{accountName}/startCallbacks")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("accountName", accountName))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new GIORestErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns a list of sms history for a given device during a specified time frame.
        /// </summary>
        /// <param name="body">Required parameter: Device Query.</param>
        /// <returns>Returns the ApiResponse of Models.GIORequestResponse response from the API call.</returns>
        public ApiResponse<Models.GIORequestResponse> ListSmsMessageHistory(
                Models.SMSEventHistoryRequest body)
            => CoreHelper.RunTask(ListSmsMessageHistoryAsync(body));

        /// <summary>
        /// Returns a list of sms history for a given device during a specified time frame.
        /// </summary>
        /// <param name="body">Required parameter: Device Query.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.GIORequestResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.GIORequestResponse>> ListSmsMessageHistoryAsync(
                Models.SMSEventHistoryRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GIORequestResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/m2m/v1/devices/sms/history/actions/list")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new GIORestErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}