// <copyright file="DeviceRoleController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// DeviceRoleController.
    /// </summary>
    public class DeviceRoleController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="DeviceRoleController"/> class.
        /// </summary>
        internal DeviceRoleController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// This API allows the user to get the access control rules defined for them.
        /// </summary>
        /// <param name="vendorID">Required parameter: The user's Vendor ID.</param>
        /// <returns>Returns the ApiResponse of List of Models.DeviceRole response from the API call.</returns>
        public ApiResponse<List<Models.DeviceRole>> GetACLRulesByVendorId(
                string vendorID)
            => CoreHelper.RunTask(GetACLRulesByVendorIdAsync(vendorID));

        /// <summary>
        /// This API allows the user to get the access control rules defined for them.
        /// </summary>
        /// <param name="vendorID">Required parameter: The user's Vendor ID.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.DeviceRole response from the API call.</returns>
        public async Task<ApiResponse<List<Models.DeviceRole>>> GetACLRulesByVendorIdAsync(
                string vendorID,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.DeviceRole>>()
              .Server(Server.IMPServer)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/v1/device-roles/vendor")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("sessionToken")
                  )
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("VendorID", vendorID))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new ApiException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new ApiException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new ApiException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable", (errorReason, context) => new ApiException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ApiException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("unexpected error", (errorReason, context) => new ApiException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}