// <copyright file="DeviceCredentialManagementController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// DeviceCredentialManagementController.
    /// </summary>
    public class DeviceCredentialManagementController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="DeviceCredentialManagementController"/> class.
        /// </summary>
        internal DeviceCredentialManagementController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// retrieveCredentials EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.RetrieveResponse response from the API call.</returns>
        public ApiResponse<Models.RetrieveResponse> RetrieveCredentials(
                Models.CredentialsRequest body)
            => CoreHelper.RunTask(RetrieveCredentialsAsync(body));

        /// <summary>
        /// retrieveCredentials EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.RetrieveResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.RetrieveResponse>> RetrieveCredentialsAsync(
                Models.CredentialsRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.RetrieveResponse>()
              .Server(Server.HyperPreciseCredentials)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/credentials/retrieve")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request / Verification Failure", (errorReason, context) => new ErrorResponseException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new ApiException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// generateCredentials EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.GenerateResponse response from the API call.</returns>
        public ApiResponse<Models.GenerateResponse> GenerateCredentials(
                Models.CredentialsRequest body)
            => CoreHelper.RunTask(GenerateCredentialsAsync(body));

        /// <summary>
        /// generateCredentials EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.GenerateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.GenerateResponse>> GenerateCredentialsAsync(
                Models.CredentialsRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GenerateResponse>()
              .Server(Server.HyperPreciseCredentials)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/credentials/generate")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new ErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// resetCredentials EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.GenerateResponse response from the API call.</returns>
        public ApiResponse<Models.GenerateResponse> ResetCredentials(
                Models.CredentialsRequest body)
            => CoreHelper.RunTask(ResetCredentialsAsync(body));

        /// <summary>
        /// resetCredentials EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.GenerateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.GenerateResponse>> ResetCredentialsAsync(
                Models.CredentialsRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GenerateResponse>()
              .Server(Server.HyperPreciseCredentials)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/credentials/reset")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new ErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// dropCredentials EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.DropResponse response from the API call.</returns>
        public ApiResponse<Models.DropResponse> DropCredentials(
                Models.CredentialsRequest body)
            => CoreHelper.RunTask(DropCredentialsAsync(body));

        /// <summary>
        /// dropCredentials EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DropResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.DropResponse>> DropCredentialsAsync(
                Models.CredentialsRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DropResponse>()
              .Server(Server.HyperPreciseCredentials)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/credentials/drop")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new ErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}