// <copyright file="DevicesLocationSubscriptionsController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// DevicesLocationSubscriptionsController.
    /// </summary>
    public class DevicesLocationSubscriptionsController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="DevicesLocationSubscriptionsController"/> class.
        /// </summary>
        internal DevicesLocationSubscriptionsController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// This subscriptions endpoint retrieves an account's current location subscription status.
        /// </summary>
        /// <param name="accountName">Required parameter: Account identifier in "##########-#####"..</param>
        /// <returns>Returns the ApiResponse of Models.DeviceLocationSubscription response from the API call.</returns>
        public ApiResponse<Models.DeviceLocationSubscription> GetLocationServiceSubscriptionStatus(
                string accountName)
            => CoreHelper.RunTask(GetLocationServiceSubscriptionStatusAsync(accountName));

        /// <summary>
        /// This subscriptions endpoint retrieves an account's current location subscription status.
        /// </summary>
        /// <param name="accountName">Required parameter: Account identifier in "##########-#####"..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DeviceLocationSubscription response from the API call.</returns>
        public async Task<ApiResponse<Models.DeviceLocationSubscription>> GetLocationServiceSubscriptionStatusAsync(
                string accountName,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DeviceLocationSubscription>()
              .Server(Server.DeviceLocation)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/subscriptions/{accountName}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("accountName", accountName))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new DeviceLocationResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This endpoint allows user to search for billable usage for accounts based on the provided date range.
        /// </summary>
        /// <param name="body">Required parameter: Request to obtain billable usage for accounts..</param>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public ApiResponse<object> GetLocationServiceUsage(
                Models.BillUsageRequest body)
            => CoreHelper.RunTask(GetLocationServiceUsageAsync(body));

        /// <summary>
        /// This endpoint allows user to search for billable usage for accounts based on the provided date range.
        /// </summary>
        /// <param name="body">Required parameter: Request to obtain billable usage for accounts..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public async Task<ApiResponse<object>> GetLocationServiceUsageAsync(
                Models.BillUsageRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<object>()
              .Server(Server.DeviceLocation)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/usage")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "*/*"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new DeviceLocationResultException(errorReason, context)))
                  .Deserializer(response => response))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}