// <copyright file="DiagnosticsHistoryController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// DiagnosticsHistoryController.
    /// </summary>
    public class DiagnosticsHistoryController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="DiagnosticsHistoryController"/> class.
        /// </summary>
        internal DiagnosticsHistoryController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// This endpoint allows the user to get the history data.
        /// </summary>
        /// <param name="body">Required parameter: History data information..</param>
        /// <returns>Returns the ApiResponse of List of Models.History response from the API call.</returns>
        public ApiResponse<List<Models.History>> GetDiagnosticsHistory(
                Models.HistorySearchRequest body)
            => CoreHelper.RunTask(GetDiagnosticsHistoryAsync(body));

        /// <summary>
        /// This endpoint allows the user to get the history data.
        /// </summary>
        /// <param name="body">Required parameter: History data information..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.History response from the API call.</returns>
        public async Task<ApiResponse<List<Models.History>>> GetDiagnosticsHistoryAsync(
                Models.HistorySearchRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.History>>()
              .Server(Server.DeviceDiagnostics)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/history/actions/$search")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "*/*"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response.", (errorReason, context) => new DeviceDiagnosticsResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}