// <copyright file="DiagnosticsFactoryResetController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// DiagnosticsFactoryResetController.
    /// </summary>
    public class DiagnosticsFactoryResetController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="DiagnosticsFactoryResetController"/> class.
        /// </summary>
        internal DiagnosticsFactoryResetController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Performs a device reboot or a factory reset on the modem portion of the device.
        /// </summary>
        /// <param name="body">Required parameter: A request to perform a device reboot..</param>
        /// <returns>Returns the ApiResponse of Models.DiagnosticsObservationResult response from the API call.</returns>
        public ApiResponse<Models.DiagnosticsObservationResult> DecivesRestart(
                Models.DeviceResetRequest body)
            => CoreHelper.RunTask(DecivesRestartAsync(body));

        /// <summary>
        /// Performs a device reboot or a factory reset on the modem portion of the device.
        /// </summary>
        /// <param name="body">Required parameter: A request to perform a device reboot..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DiagnosticsObservationResult response from the API call.</returns>
        public async Task<ApiResponse<Models.DiagnosticsObservationResult>> DecivesRestartAsync(
                Models.DeviceResetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DiagnosticsObservationResult>()
              .Server(Server.DeviceDiagnostics)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/devices/actions/restart")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response.", (errorReason, context) => new DeviceDiagnosticsResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}