// <copyright file="DiagnosticsSettingsController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// DiagnosticsSettingsController.
    /// </summary>
    public class DiagnosticsSettingsController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="DiagnosticsSettingsController"/> class.
        /// </summary>
        internal DiagnosticsSettingsController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// This endpoint retrieves diagnostics settings synchronously.
        /// </summary>
        /// <param name="accountName">Required parameter: Account identifier..</param>
        /// <param name="devices">Required parameter: Devices list formatted as "id, kind".</param>
        /// <returns>Returns the ApiResponse of List of Models.DiagnosticObservationSetting response from the API call.</returns>
        public ApiResponse<List<Models.DiagnosticObservationSetting>> ListDiagnosticsSettings(
                string accountName,
                string devices)
            => CoreHelper.RunTask(ListDiagnosticsSettingsAsync(accountName, devices));

        /// <summary>
        /// This endpoint retrieves diagnostics settings synchronously.
        /// </summary>
        /// <param name="accountName">Required parameter: Account identifier..</param>
        /// <param name="devices">Required parameter: Devices list formatted as "id, kind".</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.DiagnosticObservationSetting response from the API call.</returns>
        public async Task<ApiResponse<List<Models.DiagnosticObservationSetting>>> ListDiagnosticsSettingsAsync(
                string accountName,
                string devices,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.DiagnosticObservationSetting>>()
              .Server(Server.DeviceDiagnostics)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/devices/settings")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("accountName", accountName))
                      .Query(query => query.Setup("devices", devices))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response.", (errorReason, context) => new DeviceDiagnosticsResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}