// <copyright file="DiagnosticsObservationsController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// DiagnosticsObservationsController.
    /// </summary>
    public class DiagnosticsObservationsController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="DiagnosticsObservationsController"/> class.
        /// </summary>
        internal DiagnosticsObservationsController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// This endpoint allows the user to start or change observe diagnostics.
        /// </summary>
        /// <param name="body">Required parameter: Request for device observation information..</param>
        /// <returns>Returns the ApiResponse of Models.DiagnosticsObservationResult response from the API call.</returns>
        public ApiResponse<Models.DiagnosticsObservationResult> StartDiagnosticsObservation(
                Models.ObservationRequest body)
            => CoreHelper.RunTask(StartDiagnosticsObservationAsync(body));

        /// <summary>
        /// This endpoint allows the user to start or change observe diagnostics.
        /// </summary>
        /// <param name="body">Required parameter: Request for device observation information..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DiagnosticsObservationResult response from the API call.</returns>
        public async Task<ApiResponse<Models.DiagnosticsObservationResult>> StartDiagnosticsObservationAsync(
                Models.ObservationRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DiagnosticsObservationResult>()
              .Server(Server.DeviceDiagnostics)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/devices/attributes/actions/observe")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "*/*"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response.", (errorReason, context) => new DeviceDiagnosticsResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This endpoint allows the user to stop or reset observe diagnostics.
        /// </summary>
        /// <param name="transactionId">Required parameter: The ID value associated with the transaction..</param>
        /// <param name="accountName">Required parameter: The numeric account name..</param>
        /// <returns>Returns the ApiResponse of Models.DiagnosticsObservationResult response from the API call.</returns>
        public ApiResponse<Models.DiagnosticsObservationResult> StopDiagnosticsObservation(
                string transactionId,
                string accountName)
            => CoreHelper.RunTask(StopDiagnosticsObservationAsync(transactionId, accountName));

        /// <summary>
        /// This endpoint allows the user to stop or reset observe diagnostics.
        /// </summary>
        /// <param name="transactionId">Required parameter: The ID value associated with the transaction..</param>
        /// <param name="accountName">Required parameter: The numeric account name..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DiagnosticsObservationResult response from the API call.</returns>
        public async Task<ApiResponse<Models.DiagnosticsObservationResult>> StopDiagnosticsObservationAsync(
                string transactionId,
                string accountName,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DiagnosticsObservationResult>()
              .Server(Server.DeviceDiagnostics)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/devices/attributes/actions/observe")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("transactionId", transactionId))
                      .Query(query => query.Setup("accountName", accountName))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response.", (errorReason, context) => new DeviceDiagnosticsResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}