// <copyright file="FirmwareV3Controller.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// FirmwareV3Controller.
    /// </summary>
    public class FirmwareV3Controller : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="FirmwareV3Controller"/> class.
        /// </summary>
        internal FirmwareV3Controller(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// This endpoint allows user to list the firmware of an account.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="protocol">Required parameter: Filter to retrieve a specific protocol type used..</param>
        /// <returns>Returns the ApiResponse of List of Models.FirmwarePackage response from the API call.</returns>
        public ApiResponse<List<Models.FirmwarePackage>> ListAvailableFirmware(
                string acc,
                Models.FirmwareProtocolEnum protocol)
            => CoreHelper.RunTask(ListAvailableFirmwareAsync(acc, protocol));

        /// <summary>
        /// This endpoint allows user to list the firmware of an account.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="protocol">Required parameter: Filter to retrieve a specific protocol type used..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.FirmwarePackage response from the API call.</returns>
        public async Task<ApiResponse<List<Models.FirmwarePackage>>> ListAvailableFirmwareAsync(
                string acc,
                Models.FirmwareProtocolEnum protocol,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.FirmwarePackage>>()
              .Server(Server.SoftwareManagementV3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/firmware/{acc}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("acc", acc))
                      .Query(query => query.Setup("protocol", CoreHelper.JsonSerialize(protocol).Trim('\"')))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV3ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Synchronize ThingSpace with the FOTA server for up to 100 devices.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="body">Required parameter: DeviceIds to get firmware info synchronously..</param>
        /// <returns>Returns the ApiResponse of Models.DeviceFirmwareList response from the API call.</returns>
        public ApiResponse<Models.DeviceFirmwareList> SynchronizeDeviceFirmware(
                string acc,
                Models.FirmwareIMEI body)
            => CoreHelper.RunTask(SynchronizeDeviceFirmwareAsync(acc, body));

        /// <summary>
        /// Synchronize ThingSpace with the FOTA server for up to 100 devices.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="body">Required parameter: DeviceIds to get firmware info synchronously..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DeviceFirmwareList response from the API call.</returns>
        public async Task<ApiResponse<Models.DeviceFirmwareList>> SynchronizeDeviceFirmwareAsync(
                string acc,
                Models.FirmwareIMEI body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DeviceFirmwareList>()
              .Server(Server.SoftwareManagementV3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/firmware/{acc}/devices")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("acc", acc))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV3ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Ask a device to report its firmware version asynchronously.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="deviceId">Required parameter: Device identifier..</param>
        /// <returns>Returns the ApiResponse of Models.DeviceFirmwareVersionUpdateResult response from the API call.</returns>
        public ApiResponse<Models.DeviceFirmwareVersionUpdateResult> ReportDeviceFirmware(
                string acc,
                string deviceId)
            => CoreHelper.RunTask(ReportDeviceFirmwareAsync(acc, deviceId));

        /// <summary>
        /// Ask a device to report its firmware version asynchronously.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="deviceId">Required parameter: Device identifier..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DeviceFirmwareVersionUpdateResult response from the API call.</returns>
        public async Task<ApiResponse<Models.DeviceFirmwareVersionUpdateResult>> ReportDeviceFirmwareAsync(
                string acc,
                string deviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DeviceFirmwareVersionUpdateResult>()
              .Server(Server.SoftwareManagementV3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/firmware/{acc}/async/{deviceId}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("acc", acc))
                      .Template(template => template.Setup("deviceId", deviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV3ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}