// <copyright file="GlobalReportingController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// GlobalReportingController.
    /// </summary>
    public class GlobalReportingController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="GlobalReportingController"/> class.
        /// </summary>
        internal GlobalReportingController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Retrieve the provisioning history of a specific device or devices.
        /// </summary>
        /// <param name="body">Required parameter: Device Provisioning History.</param>
        /// <returns>Returns the ApiResponse of Models.ESIMRequestResponse response from the API call.</returns>
        public ApiResponse<Models.ESIMRequestResponse> DeviceprovhistoryUsingPOST(
                Models.ESIMProvhistoryRequest body)
            => CoreHelper.RunTask(DeviceprovhistoryUsingPOSTAsync(body));

        /// <summary>
        /// Retrieve the provisioning history of a specific device or devices.
        /// </summary>
        /// <param name="body">Required parameter: Device Provisioning History.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ESIMRequestResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ESIMRequestResponse>> DeviceprovhistoryUsingPOSTAsync(
                Models.ESIMProvhistoryRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ESIMRequestResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/m2m/v2/devices/history/actions/list")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found / Does not exist", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Format / Request Unacceptable", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieve a list of all devices associated with an account.
        /// </summary>
        /// <param name="body">Required parameter: Device List.</param>
        /// <returns>Returns the ApiResponse of Models.ESIMRequestResponse response from the API call.</returns>
        public ApiResponse<Models.ESIMRequestResponse> RetrieveGlobalList(
                Models.ESIMGlobalDeviceList body)
            => CoreHelper.RunTask(RetrieveGlobalListAsync(body));

        /// <summary>
        /// Retrieve a list of all devices associated with an account.
        /// </summary>
        /// <param name="body">Required parameter: Device List.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ESIMRequestResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ESIMRequestResponse>> RetrieveGlobalListAsync(
                Models.ESIMGlobalDeviceList body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ESIMRequestResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/m2m/v2/devices/actions/list")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found / Does not exist", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Format / Request Unacceptable", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}