// <copyright file="HPLDeviceManagementController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// HPLDeviceManagementController.
    /// </summary>
    public class HPLDeviceManagementController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="HPLDeviceManagementController"/> class.
        /// </summary>
        internal HPLDeviceManagementController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Use this API if you want to manage some device settings before you are ready to activate service for the devices.
        /// </summary>
        /// <param name="body">Required parameter: Devices to add to the account..</param>
        /// <returns>Returns the ApiResponse of List of Models.HplAddDevicesRequest response from the API call.</returns>
        public ApiResponse<List<Models.HplAddDevicesRequest>> AddDevicesHyperPrecise(
                Models.HplAddDevicesRequest body)
            => CoreHelper.RunTask(AddDevicesHyperPreciseAsync(body));

        /// <summary>
        /// Use this API if you want to manage some device settings before you are ready to activate service for the devices.
        /// </summary>
        /// <param name="body">Required parameter: Devices to add to the account..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.HplAddDevicesRequest response from the API call.</returns>
        public async Task<ApiResponse<List<Models.HplAddDevicesRequest>>> AddDevicesHyperPreciseAsync(
                Models.HplAddDevicesRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.HplAddDevicesRequest>>()
              .Server(Server.HyperPreciseLocation)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/devices/actions/add")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request.", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found / Does not exist", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("405", CreateErrorCase("Method Not Allowed", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Format / Request Unacceptable", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal Server Error", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new HyperPreciseLocationResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}