// <copyright file="IntelligenceServiceController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// IntelligenceServiceController.
    /// </summary>
    public class IntelligenceServiceController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="IntelligenceServiceController"/> class.
        /// </summary>
        internal IntelligenceServiceController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Retrieves available device windows for Connection Planner.
        /// </summary>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.AsynchronousRequestResultforplanner response from the API call.</returns>
        public ApiResponse<Models.AsynchronousRequestResultforplanner> SetConnectionPlanner(
                Models.GetDevicesWindowsRequestforplanner body = null)
            => CoreHelper.RunTask(SetConnectionPlannerAsync(body));

        /// <summary>
        /// Retrieves available device windows for Connection Planner.
        /// </summary>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AsynchronousRequestResultforplanner response from the API call.</returns>
        public async Task<ApiResponse<Models.AsynchronousRequestResultforplanner>> SetConnectionPlannerAsync(
                Models.GetDevicesWindowsRequestforplanner body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AsynchronousRequestResultforplanner>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/intelligence/device/connection-planner")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request", (errorReason, context) => new RestErrorResponseforplannerException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new AuthRestErrorResponseforplannerException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new RestErrorResponseforplannerException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found / Does not exist", (errorReason, context) => new RestErrorResponseforplannerException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Format / Request Unacceptable", (errorReason, context) => new RestErrorResponseforplannerException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new RestErrorResponseforplannerException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new RestErrorResponseforplannerException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieves the device status for the Connection Planner service.
        /// </summary>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.GetDeviceStatusesResponseforplanner response from the API call.</returns>
        public ApiResponse<Models.GetDeviceStatusesResponseforplanner> StatusConnectionPlanner(
                Models.GetDeviceStatusesRequestforplanner body = null)
            => CoreHelper.RunTask(StatusConnectionPlannerAsync(body));

        /// <summary>
        /// Retrieves the device status for the Connection Planner service.
        /// </summary>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.GetDeviceStatusesResponseforplanner response from the API call.</returns>
        public async Task<ApiResponse<Models.GetDeviceStatusesResponseforplanner>> StatusConnectionPlannerAsync(
                Models.GetDeviceStatusesRequestforplanner body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GetDeviceStatusesResponseforplanner>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/intelligence/device/connection-planner/status")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request", (errorReason, context) => new RestErrorResponseforplannerException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new AuthRestErrorResponseforplannerException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new RestErrorResponseforplannerException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found / Does not exist", (errorReason, context) => new RestErrorResponseforplannerException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Format / Request Unacceptable", (errorReason, context) => new RestErrorResponseforplannerException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new RestErrorResponseforplannerException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new RestErrorResponseforplannerException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}