// <copyright file="MapDataManagerController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// MapDataManagerController.
    /// </summary>
    public class MapDataManagerController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="MapDataManagerController"/> class.
        /// </summary>
        internal MapDataManagerController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// This endpoint allows the user to upload map messages in SAE J2735 MAP messages in ASN.1 UPER or JER (JSON) formats. The MAP data message can have more than one intersections in it.
        /// Note: The user needs to authenticate with their ThingSpace credentials using the Access/Bearer and Session/M2M tokens in order to call this API.
        /// </summary>
        /// <param name="vendorID">Required parameter: The VendorID set during the Vendor registration call..</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of string response from the API call.</returns>
        public ApiResponse<string> UploadMapDataMessage(
                string vendorID,
                string body)
            => CoreHelper.RunTask(UploadMapDataMessageAsync(vendorID, body));

        /// <summary>
        /// This endpoint allows the user to upload map messages in SAE J2735 MAP messages in ASN.1 UPER or JER (JSON) formats. The MAP data message can have more than one intersections in it.
        /// Note: The user needs to authenticate with their ThingSpace credentials using the Access/Bearer and Session/M2M tokens in order to call this API.
        /// </summary>
        /// <param name="vendorID">Required parameter: The VendorID set during the Vendor registration call..</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of string response from the API call.</returns>
        public async Task<ApiResponse<string>> UploadMapDataMessageAsync(
                string vendorID,
                string body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<string>()
              .Server(Server.IMPServer)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/v2/mapdata")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("sessionToken")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("VendorID", vendorID))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Invalid request", (errorReason, context) => new MapDataResponseErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new MapDataResponseErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden Request", (errorReason, context) => new MapDataResponseErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests", (errorReason, context) => new MapDataResponseErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Internal server Error", (errorReason, context) => new MapDataResponseErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected Error", (errorReason, context) => new MapDataResponseErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This endpoint allows user to download SAE J2735 MAP messages in ASN.1 UPER format. The area for the MAP messages is needed to be defined in the query.
        /// </summary>
        /// <param name="vendorID">Required parameter: The VendorID set during the Vendor registration call..</param>
        /// <param name="geofence">Required parameter: The area where the user wants to receive MAP data from..</param>
        /// <returns>Returns the ApiResponse of string response from the API call.</returns>
        public ApiResponse<string> DownloadMapDataMessage(
                string vendorID,
                Models.Geofence geofence)
            => CoreHelper.RunTask(DownloadMapDataMessageAsync(vendorID, geofence));

        /// <summary>
        /// This endpoint allows user to download SAE J2735 MAP messages in ASN.1 UPER format. The area for the MAP messages is needed to be defined in the query.
        /// </summary>
        /// <param name="vendorID">Required parameter: The VendorID set during the Vendor registration call..</param>
        /// <param name="geofence">Required parameter: The area where the user wants to receive MAP data from..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of string response from the API call.</returns>
        public async Task<ApiResponse<string>> DownloadMapDataMessageAsync(
                string vendorID,
                Models.Geofence geofence,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<string>()
              .Server(Server.IMPServer)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/v2/mapdata")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("sessionToken")
                  )
                  .Parameters(parameters => parameters
                      .Header(header => header.Setup("VendorID", vendorID))
                      .Query(query => query.Setup("Geofence", geofence))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Invalid request", (errorReason, context) => new MapDataResponseErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new MapDataResponseErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden Request", (errorReason, context) => new MapDataResponseErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too Many Requests", (errorReason, context) => new MapDataResponseErrorException(errorReason, context)))
                  .ErrorCase("503", CreateErrorCase("Internal server Error", (errorReason, context) => new MapDataResponseErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected Error", (errorReason, context) => new MapDataResponseErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}