// <copyright file="OauthAuthorizationController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// OauthAuthorizationController.
    /// </summary>
    public class OauthAuthorizationController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="OauthAuthorizationController"/> class.
        /// </summary>
        internal OauthAuthorizationController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Create a new OAuth 2 token.
        /// </summary>
        /// <param name="authorization">Required parameter: Authorization header in Basic auth format.</param>
        /// <param name="scope">Optional parameter: Requested scopes as a space-delimited list..</param>
        /// <param name="fieldParameters">Additional optional form parameters are supported by this endpoint.</param>
        /// <returns>Returns the ApiResponse of Models.OauthToken response from the API call.</returns>
        public ApiResponse<Models.OauthToken> RequestTokenThingspaceOauth(
                string authorization,
                string scope = null,
                Dictionary<string, object> fieldParameters = null)
            => CoreHelper.RunTask(RequestTokenThingspaceOauthAsync(authorization, scope, fieldParameters));

        /// <summary>
        /// Create a new OAuth 2 token.
        /// </summary>
        /// <param name="authorization">Required parameter: Authorization header in Basic auth format.</param>
        /// <param name="scope">Optional parameter: Requested scopes as a space-delimited list..</param>
        /// <param name="fieldParameters">Additional optional form parameters are supported by this endpoint.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.OauthToken response from the API call.</returns>
        public async Task<ApiResponse<Models.OauthToken>> RequestTokenThingspaceOauthAsync(
                string authorization,
                string scope = null,
                Dictionary<string, object> fieldParameters = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.OauthToken>()
              .Server(Server.OauthServer)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/oauth2/token")
                  .Parameters(parameters => parameters
                      .AdditionalForms(additionalForms => additionalForms.Setup(fieldParameters))
                      .Form(form => form.Setup("grant_type", "client_credentials"))
                      .Header(header => header.Setup("Authorization", authorization))
                      .Form(form => form.Setup("scope", scope))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("OAuth 2 provider returned an error.", (errorReason, context) => new OauthProviderException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("OAuth 2 provider says client authentication failed.", (errorReason, context) => new OauthProviderException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Create a new OAuth 2 token.
        /// </summary>
        /// <param name="authorization">Required parameter: Authorization header in Basic auth format.</param>
        /// <param name="scope">Optional parameter: Requested scopes as a space-delimited list..</param>
        /// <param name="fieldParameters">Additional optional form parameters are supported by this endpoint.</param>
        /// <returns>Returns the ApiResponse of Models.OauthToken response from the API call.</returns>
        public ApiResponse<Models.OauthToken> RequestTokenThingspaceOauth1(
                string authorization,
                string scope = null,
                Dictionary<string, object> fieldParameters = null)
            => CoreHelper.RunTask(RequestTokenThingspaceOauth1Async(authorization, scope, fieldParameters));

        /// <summary>
        /// Create a new OAuth 2 token.
        /// </summary>
        /// <param name="authorization">Required parameter: Authorization header in Basic auth format.</param>
        /// <param name="scope">Optional parameter: Requested scopes as a space-delimited list..</param>
        /// <param name="fieldParameters">Additional optional form parameters are supported by this endpoint.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.OauthToken response from the API call.</returns>
        public async Task<ApiResponse<Models.OauthToken>> RequestTokenThingspaceOauth1Async(
                string authorization,
                string scope = null,
                Dictionary<string, object> fieldParameters = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.OauthToken>()
              .Server(Server.OauthServer)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/")
                  .Parameters(parameters => parameters
                      .AdditionalForms(additionalForms => additionalForms.Setup(fieldParameters))
                      .Form(form => form.Setup("grant_type", "client_credentials"))
                      .Header(header => header.Setup("Authorization", authorization))
                      .Form(form => form.Setup("scope", scope))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("OAuth 2 provider returned an error.", (errorReason, context) => new OauthProviderException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("OAuth 2 provider says client authentication failed.", (errorReason, context) => new OauthProviderException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}