// <copyright file="PromotionPeriodInformationController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// PromotionPeriodInformationController.
    /// </summary>
    public class PromotionPeriodInformationController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="PromotionPeriodInformationController"/> class.
        /// </summary>
        internal PromotionPeriodInformationController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Retrieves the usage history of a device during the promotion period.
        /// </summary>
        /// <param name="body">Required parameter: Retrieve Aggregate Usage.</param>
        /// <returns>Returns the ApiResponse of Models.ResponseToUsageQuery response from the API call.</returns>
        public ApiResponse<Models.ResponseToUsageQuery> GetPromoDeviceUsageHistory(
                Models.ARequestBodyForUsage body)
            => CoreHelper.RunTask(GetPromoDeviceUsageHistoryAsync(body));

        /// <summary>
        /// Retrieves the usage history of a device during the promotion period.
        /// </summary>
        /// <param name="body">Required parameter: Retrieve Aggregate Usage.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResponseToUsageQuery response from the API call.</returns>
        public async Task<ApiResponse<Models.ResponseToUsageQuery>> GetPromoDeviceUsageHistoryAsync(
                Models.ARequestBodyForUsage body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseToUsageQuery>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/m2m/v1/devices/usage/actions/promodeviceusage")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("All error responses will be in this format", (errorReason, context) => new ReadySimRestErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieves the aggregate usage for an account using pseudo-MDN during the promotional period using a callback.
        /// </summary>
        /// <param name="body">Required parameter: Retrieve Aggregate Usage.</param>
        /// <returns>Returns the ApiResponse of Models.UsageRequestResponse response from the API call.</returns>
        public ApiResponse<Models.UsageRequestResponse> GetPromoDeviceAggregateUsageHistory(
                Models.RequestBodyForUsage body)
            => CoreHelper.RunTask(GetPromoDeviceAggregateUsageHistoryAsync(body));

        /// <summary>
        /// Retrieves the aggregate usage for an account using pseudo-MDN during the promotional period using a callback.
        /// </summary>
        /// <param name="body">Required parameter: Retrieve Aggregate Usage.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.UsageRequestResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.UsageRequestResponse>> GetPromoDeviceAggregateUsageHistoryAsync(
                Models.RequestBodyForUsage body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.UsageRequestResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/m2m/v1/devices/usage/actions/promoaggregateusage")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ReadySimRestErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}