// <copyright file="RetrieveRatePlanListController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// RetrieveRatePlanListController.
    /// </summary>
    public class RetrieveRatePlanListController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="RetrieveRatePlanListController"/> class.
        /// </summary>
        internal RetrieveRatePlanListController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Retrieves the rate plans and rate plan details for a profile ID.
        /// </summary>
        /// <param name="ecpdId">Required parameter: The Enterprise Customer Profile Database ID. This is the same as the accountName value.</param>
        /// <returns>Returns the ApiResponse of Models.Rateplan response from the API call.</returns>
        public ApiResponse<Models.Rateplan> GetRatePlanList(
                string ecpdId)
            => CoreHelper.RunTask(GetRatePlanListAsync(ecpdId));

        /// <summary>
        /// Retrieves the rate plans and rate plan details for a profile ID.
        /// </summary>
        /// <param name="ecpdId">Required parameter: The Enterprise Customer Profile Database ID. This is the same as the accountName value.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Rateplan response from the API call.</returns>
        public async Task<ApiResponse<Models.Rateplan>> GetRatePlanListAsync(
                string ecpdId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Rateplan>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v2/triggers/rateplanlist/{ecpdId}")
                  .WithOrAuth(orAuth => orAuth
                      .Add("thingspace_oauth1")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ecpdId", ecpdId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new RuleRestErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}