// <copyright file="SensorInsightsDeviceProfileController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// SensorInsightsDeviceProfileController.
    /// </summary>
    public class SensorInsightsDeviceProfileController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="SensorInsightsDeviceProfileController"/> class.
        /// </summary>
        internal SensorInsightsDeviceProfileController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Create a device profile.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of List of Models.DtoProfileResponse response from the API call.</returns>
        public ApiResponse<List<Models.DtoProfileResponse>> CreateAProfile(
                Models.DtoConfigurationProfile body)
            => CoreHelper.RunTask(CreateAProfileAsync(body));

        /// <summary>
        /// Create a device profile.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.DtoProfileResponse response from the API call.</returns>
        public async Task<ApiResponse<List<Models.DtoProfileResponse>>> CreateAProfileAsync(
                Models.DtoConfigurationProfile body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.DtoProfileResponse>>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/dm/v1/deviceConfigurationProfiles")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Delete a device profile.
        /// </summary>
        /// <param name="deleterequest">Required parameter: payload for the delete request.</param>
        /// <returns>Returns the ApiResponse of List of Models.DtoProfileResponse response from the API call.</returns>
        public ApiResponse<List<Models.DtoProfileResponse>> DeleteAProfile(
                Models.DtoConfigurationProfileDelete deleterequest)
            => CoreHelper.RunTask(DeleteAProfileAsync(deleterequest));

        /// <summary>
        /// Delete a device profile.
        /// </summary>
        /// <param name="deleterequest">Required parameter: payload for the delete request.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.DtoProfileResponse response from the API call.</returns>
        public async Task<ApiResponse<List<Models.DtoProfileResponse>>> DeleteAProfileAsync(
                Models.DtoConfigurationProfileDelete deleterequest,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.DtoProfileResponse>>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/dm/v1/deviceConfigurationProfiles")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Header(header => header.Setup("deleterequest", deleterequest))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Partially update a device profile.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of List of Models.DtoProfileResponse response from the API call.</returns>
        public ApiResponse<List<Models.DtoProfileResponse>> UpdateAProfile(
                Models.DtoConfigurationProfilePath body)
            => CoreHelper.RunTask(UpdateAProfileAsync(body));

        /// <summary>
        /// Partially update a device profile.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.DtoProfileResponse response from the API call.</returns>
        public async Task<ApiResponse<List<Models.DtoProfileResponse>>> UpdateAProfileAsync(
                Models.DtoConfigurationProfilePath body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.DtoProfileResponse>>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/dm/v1/deviceConfigurationProfiles")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Query a device profile for an individual device.
        /// </summary>
        /// <param name="body">Required parameter: body.</param>
        /// <returns>Returns the ApiResponse of List of Models.DtoProfileResponse response from the API call.</returns>
        public ApiResponse<List<Models.DtoProfileResponse>> QueryAProfile(
                Models.ResourceResourceQuery body)
            => CoreHelper.RunTask(QueryAProfileAsync(body));

        /// <summary>
        /// Query a device profile for an individual device.
        /// </summary>
        /// <param name="body">Required parameter: body.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.DtoProfileResponse response from the API call.</returns>
        public async Task<ApiResponse<List<Models.DtoProfileResponse>>> QueryAProfileAsync(
                Models.ResourceResourceQuery body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.DtoProfileResponse>>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/dm/v1/deviceConfigurationProfiles/actions/query")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}