// <copyright file="SensorInsightsDevicesController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;
using Verizon.Standard.Models.Containers;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// SensorInsightsDevicesController.
    /// </summary>
    public class SensorInsightsDevicesController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="SensorInsightsDevicesController"/> class.
        /// </summary>
        internal SensorInsightsDevicesController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// SensorInsightsListDevicesRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: List all device details on an account.</param>
        /// <returns>Returns the ApiResponse of List of Models.DtoExpandedDeviceResponse response from the API call.</returns>
        public ApiResponse<List<Models.DtoExpandedDeviceResponse>> SensorInsightsListDevicesRequest(
                Models.DtoListDevicesRequest body)
            => CoreHelper.RunTask(SensorInsightsListDevicesRequestAsync(body));

        /// <summary>
        /// SensorInsightsListDevicesRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: List all device details on an account.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.DtoExpandedDeviceResponse response from the API call.</returns>
        public async Task<ApiResponse<List<Models.DtoExpandedDeviceResponse>>> SensorInsightsListDevicesRequestAsync(
                Models.DtoListDevicesRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.DtoExpandedDeviceResponse>>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/dm/v1/devices/actions/query")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("415", CreateErrorCase("Unsupported media type", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected error", (errorReason, context) => new ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// SensorInsightsPatchDeviceRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Partially update a device's details.</param>
        /// <returns>Returns the ApiResponse of Models.ResourceDevice response from the API call.</returns>
        public ApiResponse<Models.ResourceDevice> SensorInsightsPatchDeviceRequest(
                Models.DtoPatchDeviceRequest body)
            => CoreHelper.RunTask(SensorInsightsPatchDeviceRequestAsync(body));

        /// <summary>
        /// SensorInsightsPatchDeviceRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Partially update a device's details.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResourceDevice response from the API call.</returns>
        public async Task<ApiResponse<Models.ResourceDevice>> SensorInsightsPatchDeviceRequestAsync(
                Models.DtoPatchDeviceRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResourceDevice>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/dm/v1/devices")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found", (errorReason, context) => new M404ManagementErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("415", CreateErrorCase("Unsupported media type", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected error", (errorReason, context) => new ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// SensorInsightsLastReportedTimeRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Get the last reported information for a device.</param>
        /// <returns>Returns the ApiResponse of Models.DtoLastReportedTimeResponse response from the API call.</returns>
        public ApiResponse<Models.DtoLastReportedTimeResponse> SensorInsightsLastReportedTimeRequest(
                Models.DtoLastReportedTimeRequest body)
            => CoreHelper.RunTask(SensorInsightsLastReportedTimeRequestAsync(body));

        /// <summary>
        /// SensorInsightsLastReportedTimeRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Get the last reported information for a device.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DtoLastReportedTimeResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.DtoLastReportedTimeResponse>> SensorInsightsLastReportedTimeRequestAsync(
                Models.DtoLastReportedTimeRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DtoLastReportedTimeResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/dm/v1/devices/lastreported")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found", (errorReason, context) => new M404ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// SensorInsightsDeviceActionSetRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Set device configuration.</param>
        /// <returns>Returns the ApiResponse of Models.DtoDeviceActionSetResponse response from the API call.</returns>
        public ApiResponse<Models.DtoDeviceActionSetResponse> SensorInsightsDeviceActionSetRequest(
                SensorInsightsDeviceActionSetRequestBody body)
            => CoreHelper.RunTask(SensorInsightsDeviceActionSetRequestAsync(body));

        /// <summary>
        /// SensorInsightsDeviceActionSetRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Set device configuration.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DtoDeviceActionSetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.DtoDeviceActionSetResponse>> SensorInsightsDeviceActionSetRequestAsync(
                SensorInsightsDeviceActionSetRequestBody body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DtoDeviceActionSetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/dm/v1/devices/actions/set")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found", (errorReason, context) => new M404ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// SensorInsightsListDeviceExperienceHistoryRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: List the device experience.</param>
        /// <returns>Returns the ApiResponse of List of Models.UserDeviceExperienceHistory response from the API call.</returns>
        public ApiResponse<List<Models.UserDeviceExperienceHistory>> SensorInsightsListDeviceExperienceHistoryRequest(
                Models.DtoListDeviceExperienceHistoryRequest body)
            => CoreHelper.RunTask(SensorInsightsListDeviceExperienceHistoryRequestAsync(body));

        /// <summary>
        /// SensorInsightsListDeviceExperienceHistoryRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: List the device experience.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.UserDeviceExperienceHistory response from the API call.</returns>
        public async Task<ApiResponse<List<Models.UserDeviceExperienceHistory>>> SensorInsightsListDeviceExperienceHistoryRequestAsync(
                Models.DtoListDeviceExperienceHistoryRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.UserDeviceExperienceHistory>>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/dm/v1/devices/experience/actions/query")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found", (errorReason, context) => new M404ManagementErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("415", CreateErrorCase("Unsupported media type", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected error", (errorReason, context) => new ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// SensorInsightsListNetworkExperienceHistoryRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: List the network experience.</param>
        /// <returns>Returns the ApiResponse of List of Models.UserNetworkExperienceHistory response from the API call.</returns>
        public ApiResponse<List<Models.UserNetworkExperienceHistory>> SensorInsightsListNetworkExperienceHistoryRequest(
                Models.DtoListNetworkExperienceHistoryRequest body)
            => CoreHelper.RunTask(SensorInsightsListNetworkExperienceHistoryRequestAsync(body));

        /// <summary>
        /// SensorInsightsListNetworkExperienceHistoryRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: List the network experience.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.UserNetworkExperienceHistory response from the API call.</returns>
        public async Task<ApiResponse<List<Models.UserNetworkExperienceHistory>>> SensorInsightsListNetworkExperienceHistoryRequestAsync(
                Models.DtoListNetworkExperienceHistoryRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.UserNetworkExperienceHistory>>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/dm/v1/devices/networkexperience/actions/query")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found", (errorReason, context) => new M404ManagementErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("415", CreateErrorCase("Unsupported media type", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected error", (errorReason, context) => new ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}