// <copyright file="SensorInsightsSmartAlertMetricsController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// SensorInsightsSmartAlertMetricsController.
    /// </summary>
    public class SensorInsightsSmartAlertMetricsController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="SensorInsightsSmartAlertMetricsController"/> class.
        /// </summary>
        internal SensorInsightsSmartAlertMetricsController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Get Device Alerts for the most recent daily period, up to 30 days.
        /// </summary>
        /// <param name="body">Required parameter: Daily period requested, up to 30 days..</param>
        /// <returns>Returns the ApiResponse of Models.DtoQueryMetricsResponse response from the API call.</returns>
        public ApiResponse<Models.DtoQueryMetricsResponse> Sensorinsightsmetricsquery(
                Models.DtoQueryMetrics body)
            => CoreHelper.RunTask(SensorinsightsmetricsqueryAsync(body));

        /// <summary>
        /// Get Device Alerts for the most recent daily period, up to 30 days.
        /// </summary>
        /// <param name="body">Required parameter: Daily period requested, up to 30 days..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DtoQueryMetricsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.DtoQueryMetricsResponse>> SensorinsightsmetricsqueryAsync(
                Models.DtoQueryMetrics body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DtoQueryMetricsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/dm/v1/smartAlerts/actions/metrics")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}