// <copyright file="SensorInsightsNotificationGroupsController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// SensorInsightsNotificationGroupsController.
    /// </summary>
    public class SensorInsightsNotificationGroupsController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="SensorInsightsNotificationGroupsController"/> class.
        /// </summary>
        internal SensorInsightsNotificationGroupsController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// SensorInsightsListNotificationGroupRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Retrieve a notification group.</param>
        /// <returns>Returns the ApiResponse of List of Models.DtoNotificationGroupResponseEntity response from the API call.</returns>
        public ApiResponse<List<Models.DtoNotificationGroupResponseEntity>> SensorInsightsListNotificationGroupRequest(
                Models.DtoListNotificationGroupRequest body)
            => CoreHelper.RunTask(SensorInsightsListNotificationGroupRequestAsync(body));

        /// <summary>
        /// SensorInsightsListNotificationGroupRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Retrieve a notification group.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.DtoNotificationGroupResponseEntity response from the API call.</returns>
        public async Task<ApiResponse<List<Models.DtoNotificationGroupResponseEntity>>> SensorInsightsListNotificationGroupRequestAsync(
                Models.DtoListNotificationGroupRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.DtoNotificationGroupResponseEntity>>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/dm/v1/notificationGroups/actions/query")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found", (errorReason, context) => new M404ManagementErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("415", CreateErrorCase("Unsupported media type", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected error", (errorReason, context) => new ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// SensorInsightsUpdateNotificationGroupRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Partially update a notification group.</param>
        /// <returns>Returns the ApiResponse of Models.DtoNotificationGroupResponseEntity response from the API call.</returns>
        public ApiResponse<Models.DtoNotificationGroupResponseEntity> SensorInsightsUpdateNotificationGroupRequest(
                Models.DtoUpdateNotificationGroupRequest body)
            => CoreHelper.RunTask(SensorInsightsUpdateNotificationGroupRequestAsync(body));

        /// <summary>
        /// SensorInsightsUpdateNotificationGroupRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Partially update a notification group.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DtoNotificationGroupResponseEntity response from the API call.</returns>
        public async Task<ApiResponse<Models.DtoNotificationGroupResponseEntity>> SensorInsightsUpdateNotificationGroupRequestAsync(
                Models.DtoUpdateNotificationGroupRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DtoNotificationGroupResponseEntity>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/dm/v1/notificationGroups")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found", (errorReason, context) => new M404ManagementErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("415", CreateErrorCase("Unsupported media type", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected error", (errorReason, context) => new ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// SensorInsightsCreateNotificationGroupRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Create a notification group.</param>
        /// <returns>Returns the ApiResponse of Models.DtoNotificationGroupResponseEntity response from the API call.</returns>
        public ApiResponse<Models.DtoNotificationGroupResponseEntity> SensorInsightsCreateNotificationGroupRequest(
                Models.DtoCreateNotificationGroupRequest body)
            => CoreHelper.RunTask(SensorInsightsCreateNotificationGroupRequestAsync(body));

        /// <summary>
        /// SensorInsightsCreateNotificationGroupRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Create a notification group.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DtoNotificationGroupResponseEntity response from the API call.</returns>
        public async Task<ApiResponse<Models.DtoNotificationGroupResponseEntity>> SensorInsightsCreateNotificationGroupRequestAsync(
                Models.DtoCreateNotificationGroupRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DtoNotificationGroupResponseEntity>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/dm/v1/notificationGroups")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("415", CreateErrorCase("Unsupported media type", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected error", (errorReason, context) => new ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// SensorInsightsDeleteNotificationGroup EndPoint.
        /// </summary>
        /// <param name="payload">Required parameter: Payload for the delete request..</param>
        public void SensorInsightsDeleteNotificationGroup(
                Models.DtoDeleteNotificationGroupRequest payload)
            => CoreHelper.RunVoidTask(SensorInsightsDeleteNotificationGroupAsync(payload));

        /// <summary>
        /// SensorInsightsDeleteNotificationGroup EndPoint.
        /// </summary>
        /// <param name="payload">Required parameter: Payload for the delete request..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task SensorInsightsDeleteNotificationGroupAsync(
                Models.DtoDeleteNotificationGroupRequest payload,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/dm/v1/notificationGroups")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("payload", payload))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found", (errorReason, context) => new M404ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// SensorInsightsAddUsersToNotificationGroupRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Add users to a notification group.</param>
        public void SensorInsightsAddUsersToNotificationGroupRequest(
                Models.DtoAddUsersToNotificationGroupRequest body)
            => CoreHelper.RunVoidTask(SensorInsightsAddUsersToNotificationGroupRequestAsync(body));

        /// <summary>
        /// SensorInsightsAddUsersToNotificationGroupRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Add users to a notification group.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task SensorInsightsAddUsersToNotificationGroupRequestAsync(
                Models.DtoAddUsersToNotificationGroupRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/dm/v1/notificationGroups/actions/add-users")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found", (errorReason, context) => new M404ManagementErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("415", CreateErrorCase("Unsupported media type", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected error", (errorReason, context) => new ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// SensorInsightsRemoveUsersFromNotificationGroupRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Remove users from a notification group.</param>
        public void SensorInsightsRemoveUsersFromNotificationGroupRequest(
                Models.DtoRemoveUsersFromNotificationGroupRequest body)
            => CoreHelper.RunVoidTask(SensorInsightsRemoveUsersFromNotificationGroupRequestAsync(body));

        /// <summary>
        /// SensorInsightsRemoveUsersFromNotificationGroupRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Remove users from a notification group.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task SensorInsightsRemoveUsersFromNotificationGroupRequestAsync(
                Models.DtoRemoveUsersFromNotificationGroupRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/dm/v1/notificationGroups/actions/remove-users")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found", (errorReason, context) => new M404ManagementErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("415", CreateErrorCase("Unsupported media type", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected error", (errorReason, context) => new ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}