// <copyright file="SensorInsightsGatewaysController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// SensorInsightsGatewaysController.
    /// </summary>
    public class SensorInsightsGatewaysController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="SensorInsightsGatewaysController"/> class.
        /// </summary>
        internal SensorInsightsGatewaysController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// SensorInsightsListGatewayDevicesRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Get gateway information.</param>
        /// <returns>Returns the ApiResponse of List of Models.ResourceDevice response from the API call.</returns>
        public ApiResponse<List<Models.ResourceDevice>> SensorInsightsListGatewayDevicesRequest(
                Models.DtoListDevicesRequest body)
            => CoreHelper.RunTask(SensorInsightsListGatewayDevicesRequestAsync(body));

        /// <summary>
        /// SensorInsightsListGatewayDevicesRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Get gateway information.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.ResourceDevice response from the API call.</returns>
        public async Task<ApiResponse<List<Models.ResourceDevice>>> SensorInsightsListGatewayDevicesRequestAsync(
                Models.DtoListDevicesRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.ResourceDevice>>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/dm/v1/devices/gateways/actions/query")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found", (errorReason, context) => new M404ManagementErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("415", CreateErrorCase("Unsupported media type", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected error", (errorReason, context) => new ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}