// <copyright file="SensorInsightsHealthScoreController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// SensorInsightsHealthScoreController.
    /// </summary>
    public class SensorInsightsHealthScoreController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="SensorInsightsHealthScoreController"/> class.
        /// </summary>
        internal SensorInsightsHealthScoreController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// SensorInsightsHealthScoreSummary EndPoint.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.DtoHealthScoreSummary response from the API call.</returns>
        public ApiResponse<Models.DtoHealthScoreSummary> SensorInsightsHealthScoreSummary()
            => CoreHelper.RunTask(SensorInsightsHealthScoreSummaryAsync());

        /// <summary>
        /// SensorInsightsHealthScoreSummary EndPoint.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DtoHealthScoreSummary response from the API call.</returns>
        public async Task<ApiResponse<Models.DtoHealthScoreSummary>> SensorInsightsHealthScoreSummaryAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DtoHealthScoreSummary>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/dm/v1/healthscore/summary")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  ))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("415", CreateErrorCase("Unsupported media type", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected error", (errorReason, context) => new ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// SensorInsightsGetNetworkHealthScoreResponse EndPoint.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.DtoGetNetworkHealthScoreResponse response from the API call.</returns>
        public ApiResponse<Models.DtoGetNetworkHealthScoreResponse> SensorInsightsGetNetworkHealthScoreResponse()
            => CoreHelper.RunTask(SensorInsightsGetNetworkHealthScoreResponseAsync());

        /// <summary>
        /// SensorInsightsGetNetworkHealthScoreResponse EndPoint.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DtoGetNetworkHealthScoreResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.DtoGetNetworkHealthScoreResponse>> SensorInsightsGetNetworkHealthScoreResponseAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DtoGetNetworkHealthScoreResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/dm/v1/healthscore/network")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  ))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("415", CreateErrorCase("Unsupported media type", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected error", (errorReason, context) => new ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}