// <copyright file="SensorInsightsUsersController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// SensorInsightsUsersController.
    /// </summary>
    public class SensorInsightsUsersController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="SensorInsightsUsersController"/> class.
        /// </summary>
        internal SensorInsightsUsersController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// SensorInsightsCreateUserRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Create a user profile.</param>
        /// <returns>Returns the ApiResponse of Models.ResourceUser response from the API call.</returns>
        public ApiResponse<Models.ResourceUser> SensorInsightsCreateUserRequest(
                Models.DtoCreateUserRequest body)
            => CoreHelper.RunTask(SensorInsightsCreateUserRequestAsync(body));

        /// <summary>
        /// SensorInsightsCreateUserRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Create a user profile.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResourceUser response from the API call.</returns>
        public async Task<ApiResponse<Models.ResourceUser>> SensorInsightsCreateUserRequestAsync(
                Models.DtoCreateUserRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResourceUser>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/dm/v1/users")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("415", CreateErrorCase("Unsupported media type", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected error", (errorReason, context) => new ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// SensorInsightsDeleteUser EndPoint.
        /// </summary>
        /// <param name="deleterequestpayload">Required parameter: Payload for the delete user request..</param>
        public void SensorInsightsDeleteUser(
                Models.DtoDeleteUserRequest deleterequestpayload)
            => CoreHelper.RunVoidTask(SensorInsightsDeleteUserAsync(deleterequestpayload));

        /// <summary>
        /// SensorInsightsDeleteUser EndPoint.
        /// </summary>
        /// <param name="deleterequestpayload">Required parameter: Payload for the delete user request..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task SensorInsightsDeleteUserAsync(
                Models.DtoDeleteUserRequest deleterequestpayload,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/dm/v1/users")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("deleterequestpayload", deleterequestpayload))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found", (errorReason, context) => new M404ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// SensorInsightsUpdateUserRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Partially update a user profile.</param>
        /// <returns>Returns the ApiResponse of Models.ResourceUser response from the API call.</returns>
        public ApiResponse<Models.ResourceUser> SensorInsightsUpdateUserRequest(
                Models.DtoUpdateUserRequest body)
            => CoreHelper.RunTask(SensorInsightsUpdateUserRequestAsync(body));

        /// <summary>
        /// SensorInsightsUpdateUserRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Partially update a user profile.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResourceUser response from the API call.</returns>
        public async Task<ApiResponse<Models.ResourceUser>> SensorInsightsUpdateUserRequestAsync(
                Models.DtoUpdateUserRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResourceUser>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/dm/v1/users")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found", (errorReason, context) => new M404ManagementErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("415", CreateErrorCase("Unsupported media type", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected error", (errorReason, context) => new ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// SensorInsightsListUserRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: A summary of user profile records on an account.</param>
        /// <returns>Returns the ApiResponse of List of Models.ResourceUser response from the API call.</returns>
        public ApiResponse<List<Models.ResourceUser>> SensorInsightsListUserRequest(
                Models.DtoListUserRequest body)
            => CoreHelper.RunTask(SensorInsightsListUserRequestAsync(body));

        /// <summary>
        /// SensorInsightsListUserRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: A summary of user profile records on an account.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.ResourceUser response from the API call.</returns>
        public async Task<ApiResponse<List<Models.ResourceUser>>> SensorInsightsListUserRequestAsync(
                Models.DtoListUserRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.ResourceUser>>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/dm/v1/users/actions/query")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found", (errorReason, context) => new M404ManagementErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("415", CreateErrorCase("Unsupported media type", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected error", (errorReason, context) => new ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}