// <copyright file="SensorInsightsSmartAlertsController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// SensorInsightsSmartAlertsController.
    /// </summary>
    public class SensorInsightsSmartAlertsController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="SensorInsightsSmartAlertsController"/> class.
        /// </summary>
        internal SensorInsightsSmartAlertsController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// SensorInsightsListSmartAlertsRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Retrieve a smart alert.</param>
        /// <returns>Returns the ApiResponse of List of Models.UserSmartAlert response from the API call.</returns>
        public ApiResponse<List<Models.UserSmartAlert>> SensorInsightsListSmartAlertsRequest(
                Models.DtoListSmartAlertsRequest body)
            => CoreHelper.RunTask(SensorInsightsListSmartAlertsRequestAsync(body));

        /// <summary>
        /// SensorInsightsListSmartAlertsRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Retrieve a smart alert.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.UserSmartAlert response from the API call.</returns>
        public async Task<ApiResponse<List<Models.UserSmartAlert>>> SensorInsightsListSmartAlertsRequestAsync(
                Models.DtoListSmartAlertsRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.UserSmartAlert>>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/dm/v1/smartAlerts/actions/query")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found", (errorReason, context) => new M404ManagementErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("415", CreateErrorCase("Unsupported media type", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected error", (errorReason, context) => new ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// SensorInsightsPatchSmartAlertRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Partially update a smart alert.</param>
        /// <returns>Returns the ApiResponse of Models.UserSmartAlert response from the API call.</returns>
        public ApiResponse<Models.UserSmartAlert> SensorInsightsPatchSmartAlertRequest(
                Models.DtoPatchSmartAlertRequest body)
            => CoreHelper.RunTask(SensorInsightsPatchSmartAlertRequestAsync(body));

        /// <summary>
        /// SensorInsightsPatchSmartAlertRequest EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Partially update a smart alert.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.UserSmartAlert response from the API call.</returns>
        public async Task<ApiResponse<Models.UserSmartAlert>> SensorInsightsPatchSmartAlertRequestAsync(
                Models.DtoPatchSmartAlertRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.UserSmartAlert>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/dm/v1/smartAlerts")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found", (errorReason, context) => new M404ManagementErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("415", CreateErrorCase("Unsupported media type", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected error", (errorReason, context) => new ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// SensorInsightsBulkUpdate EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Bulk update smart alerts.</param>
        /// <returns>Returns the ApiResponse of Models.UserSmartAlert response from the API call.</returns>
        public ApiResponse<Models.UserSmartAlert> SensorInsightsBulkUpdate(
                Models.DtoBulkUpdate body)
            => CoreHelper.RunTask(SensorInsightsBulkUpdateAsync(body));

        /// <summary>
        /// SensorInsightsBulkUpdate EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: Bulk update smart alerts.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.UserSmartAlert response from the API call.</returns>
        public async Task<ApiResponse<Models.UserSmartAlert>> SensorInsightsBulkUpdateAsync(
                Models.DtoBulkUpdate body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.UserSmartAlert>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/dm/v1/smartAlerts/actions/bulkupdate")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new M400ManagementErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("UnAuthorized", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new M403ManagementErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found", (errorReason, context) => new M404ManagementErrorException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Not Acceptable", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("415", CreateErrorCase("Unsupported media type", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ManagementErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Internal server error.", (errorReason, context) => new M500ManagementErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Unexpected error", (errorReason, context) => new ManagementErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}