// <copyright file="ServicePlansController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// ServicePlansController.
    /// </summary>
    public class ServicePlansController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ServicePlansController"/> class.
        /// </summary>
        internal ServicePlansController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Returns a list of all data service plans that are associated with a specified billing account. When you send a request to /devices/actions/activate to activate a line of service you must specify the code for one of the service plans associated with your account.
        /// </summary>
        /// <param name="aname">Required parameter: Account name..</param>
        /// <returns>Returns the ApiResponse of List of Models.ServicePlan response from the API call.</returns>
        public ApiResponse<List<Models.ServicePlan>> ListAccountServicePlans(
                string aname)
            => CoreHelper.RunTask(ListAccountServicePlansAsync(aname));

        /// <summary>
        /// Returns a list of all data service plans that are associated with a specified billing account. When you send a request to /devices/actions/activate to activate a line of service you must specify the code for one of the service plans associated with your account.
        /// </summary>
        /// <param name="aname">Required parameter: Account name..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.ServicePlan response from the API call.</returns>
        public async Task<ApiResponse<List<Models.ServicePlan>>> ListAccountServicePlansAsync(
                string aname,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.ServicePlan>>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/m2m/v1/plans/{aname}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("aname", aname))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Error response.", (errorReason, context) => new ConnectivityManagementResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}