// <copyright file="ServerLoggingController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// ServerLoggingController.
    /// </summary>
    public class ServerLoggingController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ServerLoggingController"/> class.
        /// </summary>
        internal ServerLoggingController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Check-in history can be retrieved for any device belonging to the account, not necessarily with logging enabled.
        /// </summary>
        /// <param name="account">Required parameter: Account identifier..</param>
        /// <param name="deviceId">Required parameter: Device IMEI identifier..</param>
        /// <returns>Returns the ApiResponse of List of Models.CheckInHistoryItem response from the API call.</returns>
        public ApiResponse<List<Models.CheckInHistoryItem>> GetDeviceCheckInHistory(
                string account,
                string deviceId)
            => CoreHelper.RunTask(GetDeviceCheckInHistoryAsync(account, deviceId));

        /// <summary>
        /// Check-in history can be retrieved for any device belonging to the account, not necessarily with logging enabled.
        /// </summary>
        /// <param name="account">Required parameter: Account identifier..</param>
        /// <param name="deviceId">Required parameter: Device IMEI identifier..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.CheckInHistoryItem response from the API call.</returns>
        public async Task<ApiResponse<List<Models.CheckInHistoryItem>>> GetDeviceCheckInHistoryAsync(
                string account,
                string deviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.CheckInHistoryItem>>()
              .Server(Server.SoftwareManagementV2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/logging/{account}/devices/{deviceId}/checkInHistory")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("account", account))
                      .Template(template => template.Setup("deviceId", deviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV2ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}