// <copyright file="SessionManagementController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// SessionManagementController.
    /// </summary>
    public class SessionManagementController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="SessionManagementController"/> class.
        /// </summary>
        internal SessionManagementController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Initiates a Connectivity Management session and returns a VZ-M2M session token that is required in subsequent API requests.
        /// </summary>
        /// <param name="body">Optional parameter: Request to initiate a session..</param>
        /// <returns>Returns the ApiResponse of Models.LogInResult response from the API call.</returns>
        public ApiResponse<Models.LogInResult> StartConnectivityManagementSession(
                Models.LogInRequest body = null)
            => CoreHelper.RunTask(StartConnectivityManagementSessionAsync(body));

        /// <summary>
        /// Initiates a Connectivity Management session and returns a VZ-M2M session token that is required in subsequent API requests.
        /// </summary>
        /// <param name="body">Optional parameter: Request to initiate a session..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.LogInResult response from the API call.</returns>
        public async Task<ApiResponse<Models.LogInResult>> StartConnectivityManagementSessionAsync(
                Models.LogInRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.LogInResult>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/m2m/v1/session/login")
                  .WithAuth("thingspace_oauth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Error response.", (errorReason, context) => new ConnectivityManagementResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Ends a Connectivity Management session.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.LogOutRequest response from the API call.</returns>
        public ApiResponse<Models.LogOutRequest> EndConnectivityManagementSession()
            => CoreHelper.RunTask(EndConnectivityManagementSessionAsync());

        /// <summary>
        /// Ends a Connectivity Management session.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.LogOutRequest response from the API call.</returns>
        public async Task<ApiResponse<Models.LogOutRequest>> EndConnectivityManagementSessionAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.LogOutRequest>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/m2m/v1/session/logout")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  ))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Error response.", (errorReason, context) => new ConnectivityManagementResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// The new password is effective immediately. Passwords do not expire, but Verizon recommends changing your password every 90 days.
        /// </summary>
        /// <param name="body">Required parameter: Request with current password that needs to be reset..</param>
        /// <returns>Returns the ApiResponse of Models.SessionResetPasswordResult response from the API call.</returns>
        public ApiResponse<Models.SessionResetPasswordResult> ResetConnectivityManagementPassword(
                Models.SessionResetPasswordRequest body)
            => CoreHelper.RunTask(ResetConnectivityManagementPasswordAsync(body));

        /// <summary>
        /// The new password is effective immediately. Passwords do not expire, but Verizon recommends changing your password every 90 days.
        /// </summary>
        /// <param name="body">Required parameter: Request with current password that needs to be reset..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.SessionResetPasswordResult response from the API call.</returns>
        public async Task<ApiResponse<Models.SessionResetPasswordResult>> ResetConnectivityManagementPasswordAsync(
                Models.SessionResetPasswordRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.SessionResetPasswordResult>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/m2m/v1/session/password/actions/reset")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Error response.", (errorReason, context) => new ConnectivityManagementResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}