// <copyright file="SIMActionsController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// SIMActionsController.
    /// </summary>
    public class SIMActionsController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="SIMActionsController"/> class.
        /// </summary>
        internal SIMActionsController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// System assign a new activation code to reactivate a deactivated device. **Note:** the previously assigned ICCID must be used to request a new activation code.
        /// </summary>
        /// <param name="body">Required parameter: Device Profile Query.</param>
        /// <returns>Returns the ApiResponse of Models.ESIMRequestResponse response from the API call.</returns>
        public ApiResponse<Models.ESIMRequestResponse> Newactivatecode(
                Models.ESIMProfileRequest2 body)
            => CoreHelper.RunTask(NewactivatecodeAsync(body));

        /// <summary>
        /// System assign a new activation code to reactivate a deactivated device. **Note:** the previously assigned ICCID must be used to request a new activation code.
        /// </summary>
        /// <param name="body">Required parameter: Device Profile Query.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ESIMRequestResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ESIMRequestResponse>> NewactivatecodeAsync(
                Models.ESIMProfileRequest2 body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ESIMRequestResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/m2m/v1/devices/profile/actions/renew_activation_code")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found / Does not exist", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Format / Request Unacceptable", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Uses the profile to activate the SIM.
        /// </summary>
        /// <param name="body">Required parameter: Device Profile Query.</param>
        /// <returns>Returns the ApiResponse of Models.ESIMRequestResponse response from the API call.</returns>
        public ApiResponse<Models.ESIMRequestResponse> SetactivateUsingPOST(
                Models.ESIMProfileRequest body)
            => CoreHelper.RunTask(SetactivateUsingPOSTAsync(body));

        /// <summary>
        /// Uses the profile to activate the SIM.
        /// </summary>
        /// <param name="body">Required parameter: Device Profile Query.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ESIMRequestResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ESIMRequestResponse>> SetactivateUsingPOSTAsync(
                Models.ESIMProfileRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ESIMRequestResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/m2m/v1/devices/profile/actions/activate")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found / Does not exist", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Format / Request Unacceptable", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Uses the profile to deactivate the SIM.
        /// </summary>
        /// <param name="body">Required parameter: Device Profile Query.</param>
        /// <returns>Returns the ApiResponse of Models.ESIMRequestResponse response from the API call.</returns>
        public ApiResponse<Models.ESIMRequestResponse> SetdeactivateUsingPOST(
                Models.ProfileRequest2 body)
            => CoreHelper.RunTask(SetdeactivateUsingPOSTAsync(body));

        /// <summary>
        /// Uses the profile to deactivate the SIM.
        /// </summary>
        /// <param name="body">Required parameter: Device Profile Query.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ESIMRequestResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ESIMRequestResponse>> SetdeactivateUsingPOSTAsync(
                Models.ProfileRequest2 body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ESIMRequestResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/m2m/v1/devices/profile/actions/deactivate")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found / Does not exist", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Format / Request Unacceptable", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ESIMRestErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}