// <copyright file="SIMSecureForIoTLicensesController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// SIMSecureForIoTLicensesController.
    /// </summary>
    public class SIMSecureForIoTLicensesController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="SIMSecureForIoTLicensesController"/> class.
        /// </summary>
        internal SIMSecureForIoTLicensesController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Assigns SIM-Secure for IoT licenses to SIMs.
        /// </summary>
        /// <param name="body">Required parameter: Request to assign license to devices..</param>
        /// <param name="xRequestID">Optional parameter: Transaction Id..</param>
        /// <returns>Returns the ApiResponse of Models.SecuritySuccessResult response from the API call.</returns>
        public ApiResponse<Models.SecuritySuccessResult> AssignLicenseToDevices(
                Models.AssignLicenseRequest body,
                string xRequestID = null)
            => CoreHelper.RunTask(AssignLicenseToDevicesAsync(body, xRequestID));

        /// <summary>
        /// Assigns SIM-Secure for IoT licenses to SIMs.
        /// </summary>
        /// <param name="body">Required parameter: Request to assign license to devices..</param>
        /// <param name="xRequestID">Optional parameter: Transaction Id..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.SecuritySuccessResult response from the API call.</returns>
        public async Task<ApiResponse<Models.SecuritySuccessResult>> AssignLicenseToDevicesAsync(
                Models.AssignLicenseRequest body,
                string xRequestID = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.SecuritySuccessResult>()
              .Server(Server.M2m)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/devices/license/actions/assign")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Header(header => header.Setup("X-Request-ID", xRequestID))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request.", (errorReason, context) => new SecurityResultException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized request.", (errorReason, context) => new SecurityResultException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Request Forbidden.", (errorReason, context) => new SecurityResultException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found / Does not exist.", (errorReason, context) => new SecurityResultException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Format / Request Unacceptable.", (errorReason, context) => new SecurityResultException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests.", (errorReason, context) => new SecurityResultException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Error response.", (errorReason, context) => new SecurityResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Unassigns SIM-Secure for IoT Flexible and Flexible Bundle license from SIMs.
        /// </summary>
        /// <param name="xRequestID">Required parameter: Transaction Id..</param>
        /// <returns>Returns the ApiResponse of Models.SecuritySuccessResult response from the API call.</returns>
        public ApiResponse<Models.SecuritySuccessResult> UnassignLicenseToDevices(
                string xRequestID)
            => CoreHelper.RunTask(UnassignLicenseToDevicesAsync(xRequestID));

        /// <summary>
        /// Unassigns SIM-Secure for IoT Flexible and Flexible Bundle license from SIMs.
        /// </summary>
        /// <param name="xRequestID">Required parameter: Transaction Id..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.SecuritySuccessResult response from the API call.</returns>
        public async Task<ApiResponse<Models.SecuritySuccessResult>> UnassignLicenseToDevicesAsync(
                string xRequestID,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.SecuritySuccessResult>()
              .Server(Server.M2m)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/devices/license/actions/assign")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Header(header => header.Setup("X-Request-ID", xRequestID))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request.", (errorReason, context) => new SecurityResultException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized request.", (errorReason, context) => new SecurityResultException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Request forbidden.", (errorReason, context) => new SecurityResultException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Not Found / Does not exist.", (errorReason, context) => new SecurityResultException(errorReason, context)))
                  .ErrorCase("406", CreateErrorCase("Format / Request Unacceptable.", (errorReason, context) => new SecurityResultException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Too many requests.", (errorReason, context) => new SecurityResultException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("Error response.", (errorReason, context) => new SecurityResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}