// <copyright file="SoftwareManagementReportsV3Controller.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// SoftwareManagementReportsV3Controller.
    /// </summary>
    public class SoftwareManagementReportsV3Controller : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="SoftwareManagementReportsV3Controller"/> class.
        /// </summary>
        internal SoftwareManagementReportsV3Controller(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Retrieve a list of campaigns for an account that have a specified campaign status.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="campaignStatus">Required parameter: Campaign status..</param>
        /// <param name="lastSeenCampaignId">Optional parameter: Last seen campaign Id..</param>
        /// <returns>Returns the ApiResponse of Models.V3CampaignHistory response from the API call.</returns>
        public ApiResponse<Models.V3CampaignHistory> GetCampaignHistoryByStatus(
                string acc,
                Models.CampaignStatusEnum campaignStatus,
                string lastSeenCampaignId = null)
            => CoreHelper.RunTask(GetCampaignHistoryByStatusAsync(acc, campaignStatus, lastSeenCampaignId));

        /// <summary>
        /// Retrieve a list of campaigns for an account that have a specified campaign status.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="campaignStatus">Required parameter: Campaign status..</param>
        /// <param name="lastSeenCampaignId">Optional parameter: Last seen campaign Id..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V3CampaignHistory response from the API call.</returns>
        public async Task<ApiResponse<Models.V3CampaignHistory>> GetCampaignHistoryByStatusAsync(
                string acc,
                Models.CampaignStatusEnum campaignStatus,
                string lastSeenCampaignId = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V3CampaignHistory>()
              .Server(Server.SoftwareManagementV3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/reports/{acc}/firmware/campaigns")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("acc", acc))
                      .Query(query => query.Setup("campaignStatus", CoreHelper.JsonSerialize(campaignStatus).Trim('\"')))
                      .Query(query => query.Setup("lastSeenCampaignId", lastSeenCampaignId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV3ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieve campaign history for a specific device.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="deviceId">Required parameter: Device IMEI identifier..</param>
        /// <returns>Returns the ApiResponse of List of Models.DeviceFirmwareUpgrade response from the API call.</returns>
        public ApiResponse<List<Models.DeviceFirmwareUpgrade>> GetDeviceFirmwareUpgradeHistory(
                string acc,
                string deviceId)
            => CoreHelper.RunTask(GetDeviceFirmwareUpgradeHistoryAsync(acc, deviceId));

        /// <summary>
        /// Retrieve campaign history for a specific device.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="deviceId">Required parameter: Device IMEI identifier..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.DeviceFirmwareUpgrade response from the API call.</returns>
        public async Task<ApiResponse<List<Models.DeviceFirmwareUpgrade>>> GetDeviceFirmwareUpgradeHistoryAsync(
                string acc,
                string deviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.DeviceFirmwareUpgrade>>()
              .Server(Server.SoftwareManagementV3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/reports/{acc}/devices/{deviceId}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("acc", acc))
                      .Template(template => template.Setup("deviceId", deviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV3ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieve a list of all devices in a campaign and the status of each device.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="campaignId">Required parameter: Campaign identifier..</param>
        /// <param name="lastSeenDeviceId">Optional parameter: Last seen device identifier..</param>
        /// <returns>Returns the ApiResponse of Models.V3CampaignDevice response from the API call.</returns>
        public ApiResponse<Models.V3CampaignDevice> GetCampaignDeviceStatus(
                string acc,
                string campaignId,
                string lastSeenDeviceId = null)
            => CoreHelper.RunTask(GetCampaignDeviceStatusAsync(acc, campaignId, lastSeenDeviceId));

        /// <summary>
        /// Retrieve a list of all devices in a campaign and the status of each device.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="campaignId">Required parameter: Campaign identifier..</param>
        /// <param name="lastSeenDeviceId">Optional parameter: Last seen device identifier..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V3CampaignDevice response from the API call.</returns>
        public async Task<ApiResponse<Models.V3CampaignDevice>> GetCampaignDeviceStatusAsync(
                string acc,
                string campaignId,
                string lastSeenDeviceId = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V3CampaignDevice>()
              .Server(Server.SoftwareManagementV3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/reports/{acc}/campaigns/{campaignId}/devices")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("acc", acc))
                      .Template(template => template.Setup("campaignId", campaignId))
                      .Query(query => query.Setup("lastSeenDeviceId", lastSeenDeviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV3ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}