// <copyright file="SoftwareManagementCallbacksV2Controller.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// SoftwareManagementCallbacksV2Controller.
    /// </summary>
    public class SoftwareManagementCallbacksV2Controller : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="SoftwareManagementCallbacksV2Controller"/> class.
        /// </summary>
        internal SoftwareManagementCallbacksV2Controller(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// This endpoint allows user to get the registered callback information.
        /// </summary>
        /// <param name="account">Required parameter: Account identifier..</param>
        /// <returns>Returns the ApiResponse of Models.CallbackSummary response from the API call.</returns>
        public ApiResponse<Models.CallbackSummary> ListRegisteredCallbacks(
                string account)
            => CoreHelper.RunTask(ListRegisteredCallbacksAsync(account));

        /// <summary>
        /// This endpoint allows user to get the registered callback information.
        /// </summary>
        /// <param name="account">Required parameter: Account identifier..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.CallbackSummary response from the API call.</returns>
        public async Task<ApiResponse<Models.CallbackSummary>> ListRegisteredCallbacksAsync(
                string account,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.CallbackSummary>()
              .Server(Server.SoftwareManagementV2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/callbacks/{account}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("account", account))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV2ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This endpoint allows user to update the HTTPS callback address.
        /// </summary>
        /// <param name="account">Required parameter: Account identifier..</param>
        /// <param name="body">Required parameter: Callback URL registration..</param>
        /// <returns>Returns the ApiResponse of Models.FotaV2CallbackRegistrationResult response from the API call.</returns>
        public ApiResponse<Models.FotaV2CallbackRegistrationResult> UpdateCallback(
                string account,
                Models.FotaV2CallbackRegistrationRequest body)
            => CoreHelper.RunTask(UpdateCallbackAsync(account, body));

        /// <summary>
        /// This endpoint allows user to update the HTTPS callback address.
        /// </summary>
        /// <param name="account">Required parameter: Account identifier..</param>
        /// <param name="body">Required parameter: Callback URL registration..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.FotaV2CallbackRegistrationResult response from the API call.</returns>
        public async Task<ApiResponse<Models.FotaV2CallbackRegistrationResult>> UpdateCallbackAsync(
                string account,
                Models.FotaV2CallbackRegistrationRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.FotaV2CallbackRegistrationResult>()
              .Server(Server.SoftwareManagementV2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/callbacks/{account}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("account", account))
                      .Header(header => header.Setup("Content-Type", "*/*"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV2ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This endpoint allows user to create the HTTPS callback address.
        /// </summary>
        /// <param name="account">Required parameter: Account identifier..</param>
        /// <param name="body">Required parameter: Callback URL registration..</param>
        /// <returns>Returns the ApiResponse of Models.FotaV2CallbackRegistrationResult response from the API call.</returns>
        public ApiResponse<Models.FotaV2CallbackRegistrationResult> RegisterCallback(
                string account,
                Models.FotaV2CallbackRegistrationRequest body)
            => CoreHelper.RunTask(RegisterCallbackAsync(account, body));

        /// <summary>
        /// This endpoint allows user to create the HTTPS callback address.
        /// </summary>
        /// <param name="account">Required parameter: Account identifier..</param>
        /// <param name="body">Required parameter: Callback URL registration..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.FotaV2CallbackRegistrationResult response from the API call.</returns>
        public async Task<ApiResponse<Models.FotaV2CallbackRegistrationResult>> RegisterCallbackAsync(
                string account,
                Models.FotaV2CallbackRegistrationRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.FotaV2CallbackRegistrationResult>()
              .Server(Server.SoftwareManagementV2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/callbacks/{account}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("account", account))
                      .Header(header => header.Setup("Content-Type", "*/*"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV2ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This endpoint allows user to delete a previously registered callback URL.
        /// </summary>
        /// <param name="account">Required parameter: Account identifier..</param>
        /// <returns>Returns the ApiResponse of Models.FotaV2SuccessResult response from the API call.</returns>
        public ApiResponse<Models.FotaV2SuccessResult> DeregisterCallback(
                string account)
            => CoreHelper.RunTask(DeregisterCallbackAsync(account));

        /// <summary>
        /// This endpoint allows user to delete a previously registered callback URL.
        /// </summary>
        /// <param name="account">Required parameter: Account identifier..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.FotaV2SuccessResult response from the API call.</returns>
        public async Task<ApiResponse<Models.FotaV2SuccessResult>> DeregisterCallbackAsync(
                string account,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.FotaV2SuccessResult>()
              .Server(Server.SoftwareManagementV2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/callbacks/{account}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("account", account))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV2ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}