// <copyright file="SoftwareManagementSubscriptionsV2Controller.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// SoftwareManagementSubscriptionsV2Controller.
    /// </summary>
    public class SoftwareManagementSubscriptionsV2Controller : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="SoftwareManagementSubscriptionsV2Controller"/> class.
        /// </summary>
        internal SoftwareManagementSubscriptionsV2Controller(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// This endpoint retrieves a FOTA subscription by account.
        /// </summary>
        /// <param name="account">Required parameter: Account identifier..</param>
        /// <returns>Returns the ApiResponse of Models.FotaV2Subscription response from the API call.</returns>
        public ApiResponse<Models.FotaV2Subscription> GetAccountSubscriptionStatus(
                string account)
            => CoreHelper.RunTask(GetAccountSubscriptionStatusAsync(account));

        /// <summary>
        /// This endpoint retrieves a FOTA subscription by account.
        /// </summary>
        /// <param name="account">Required parameter: Account identifier..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.FotaV2Subscription response from the API call.</returns>
        public async Task<ApiResponse<Models.FotaV2Subscription>> GetAccountSubscriptionStatusAsync(
                string account,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.FotaV2Subscription>()
              .Server(Server.SoftwareManagementV2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/subscriptions/{account}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("account", account))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV2ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}