// <copyright file="SoftwareManagementSubscriptionsV1Controller.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// SoftwareManagementSubscriptionsV1Controller.
    /// </summary>
    public class SoftwareManagementSubscriptionsV1Controller : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="SoftwareManagementSubscriptionsV1Controller"/> class.
        /// </summary>
        internal SoftwareManagementSubscriptionsV1Controller(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// This subscriptions endpoint retrieves an account's current Software Management Service subscription status.
        /// </summary>
        /// <param name="account">Required parameter: Account identifier in "##########-#####"..</param>
        /// <returns>Returns the ApiResponse of Models.V1AccountSubscription response from the API call.</returns>
        public ApiResponse<Models.V1AccountSubscription> GetAccountSubscriptionStatus(
                string account)
            => CoreHelper.RunTask(GetAccountSubscriptionStatusAsync(account));

        /// <summary>
        /// This subscriptions endpoint retrieves an account's current Software Management Service subscription status.
        /// </summary>
        /// <param name="account">Required parameter: Account identifier in "##########-#####"..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1AccountSubscription response from the API call.</returns>
        public async Task<ApiResponse<Models.V1AccountSubscription>> GetAccountSubscriptionStatusAsync(
                string account,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1AccountSubscription>()
              .Server(Server.SoftwareManagementV1)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/subscriptions/{account}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("account", account))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV1ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns information about an account's Software Management Services licenses and a list of licensed devices.
        /// </summary>
        /// <param name="account">Required parameter: Account identifier in "##########-#####"..</param>
        /// <param name="startIndex">Required parameter: The zero-based number of the first record to return. Set startIndex=0 for the first request. If there are more than 1,000 devices in the response, set startIndex=1000 for the second request, 2000 for the third request, etc..</param>
        /// <returns>Returns the ApiResponse of Models.AccountLicenseInfo response from the API call.</returns>
        public ApiResponse<Models.AccountLicenseInfo> GetAccountLicenseStatus(
                string account,
                string startIndex)
            => CoreHelper.RunTask(GetAccountLicenseStatusAsync(account, startIndex));

        /// <summary>
        /// Returns information about an account's Software Management Services licenses and a list of licensed devices.
        /// </summary>
        /// <param name="account">Required parameter: Account identifier in "##########-#####"..</param>
        /// <param name="startIndex">Required parameter: The zero-based number of the first record to return. Set startIndex=0 for the first request. If there are more than 1,000 devices in the response, set startIndex=1000 for the second request, 2000 for the third request, etc..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AccountLicenseInfo response from the API call.</returns>
        public async Task<ApiResponse<Models.AccountLicenseInfo>> GetAccountLicenseStatusAsync(
                string account,
                string startIndex,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AccountLicenseInfo>()
              .Server(Server.SoftwareManagementV1)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/licenses/{account}/index/{startIndex}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("account", account))
                      .Template(template => template.Setup("startIndex", startIndex))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV1ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}