// <copyright file="SoftwareManagementSubscriptionsV3Controller.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// SoftwareManagementSubscriptionsV3Controller.
    /// </summary>
    public class SoftwareManagementSubscriptionsV3Controller : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="SoftwareManagementSubscriptionsV3Controller"/> class.
        /// </summary>
        internal SoftwareManagementSubscriptionsV3Controller(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// This endpoint retrieves a FOTA subscription by account.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <returns>Returns the ApiResponse of Models.FotaV3Subscription response from the API call.</returns>
        public ApiResponse<Models.FotaV3Subscription> GetAccountSubscriptionStatus(
                string acc)
            => CoreHelper.RunTask(GetAccountSubscriptionStatusAsync(acc));

        /// <summary>
        /// This endpoint retrieves a FOTA subscription by account.
        /// </summary>
        /// <param name="acc">Required parameter: Account identifier..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.FotaV3Subscription response from the API call.</returns>
        public async Task<ApiResponse<Models.FotaV3Subscription>> GetAccountSubscriptionStatusAsync(
                string acc,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.FotaV3Subscription>()
              .Server(Server.SoftwareManagementV3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/subscriptions/{acc}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("acc", acc))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error.", (errorReason, context) => new FotaV3ResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}