// <copyright file="ThingSpaceQualityOfServiceAPIActionsController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// ThingSpaceQualityOfServiceAPIActionsController.
    /// </summary>
    public class ThingSpaceQualityOfServiceAPIActionsController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ThingSpaceQualityOfServiceAPIActionsController"/> class.
        /// </summary>
        internal ThingSpaceQualityOfServiceAPIActionsController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Creates a QoS elevation subscription ID and activates the subscription.
        /// </summary>
        /// <param name="body">Required parameter: The request details to create a ThingSpace Quality of Service API subscription..</param>
        /// <returns>Returns the ApiResponse of Models.M201success response from the API call.</returns>
        public ApiResponse<Models.M201success> CreateAThingSpaceQualityOfServiceAPISubscription(
                Models.SubscribeRequest body)
            => CoreHelper.RunTask(CreateAThingSpaceQualityOfServiceAPISubscriptionAsync(body));

        /// <summary>
        /// Creates a QoS elevation subscription ID and activates the subscription.
        /// </summary>
        /// <param name="body">Required parameter: The request details to create a ThingSpace Quality of Service API subscription..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.M201success response from the API call.</returns>
        public async Task<ApiResponse<Models.M201success>> CreateAThingSpaceQualityOfServiceAPISubscriptionAsync(
                Models.SubscribeRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.M201success>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/m2m/v1/devices/actions/enhanceQoS")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error Response", (errorReason, context) => new DefaultResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Stops an active ThingSpace Quality of Service API subscription using the account name and the subscription ID.
        /// </summary>
        /// <param name="accountName">Required parameter: .</param>
        /// <param name="qosSubscriptionId">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.M201success response from the API call.</returns>
        public ApiResponse<Models.M201success> StopAThingSpaceQualityOfServiceAPISubscription(
                string accountName,
                string qosSubscriptionId)
            => CoreHelper.RunTask(StopAThingSpaceQualityOfServiceAPISubscriptionAsync(accountName, qosSubscriptionId));

        /// <summary>
        /// Stops an active ThingSpace Quality of Service API subscription using the account name and the subscription ID.
        /// </summary>
        /// <param name="accountName">Required parameter: .</param>
        /// <param name="qosSubscriptionId">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.M201success response from the API call.</returns>
        public async Task<ApiResponse<Models.M201success>> StopAThingSpaceQualityOfServiceAPISubscriptionAsync(
                string accountName,
                string qosSubscriptionId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.M201success>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/m2m/v1/devices/actions/enhanceQoS")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("accountName", accountName))
                      .Query(query => query.Setup("qosSubscriptionId", qosSubscriptionId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error Response", (errorReason, context) => new DefaultResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}