// <copyright file="UpdateTriggersController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// UpdateTriggersController.
    /// </summary>
    public class UpdateTriggersController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="UpdateTriggersController"/> class.
        /// </summary>
        internal UpdateTriggersController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Updates the promotional triggers for pseudo-MDN.
        /// </summary>
        /// <param name="body">Optional parameter: Update the triggers.</param>
        /// <returns>Returns the ApiResponse of Models.Success response from the API call.</returns>
        public ApiResponse<Models.Success> UpdateAllAvailableTriggers(
                Models.RequestTrigger body = null)
            => CoreHelper.RunTask(UpdateAllAvailableTriggersAsync(body));

        /// <summary>
        /// Updates the promotional triggers for pseudo-MDN.
        /// </summary>
        /// <param name="body">Optional parameter: Update the triggers.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Success response from the API call.</returns>
        public async Task<ApiResponse<Models.Success>> UpdateAllAvailableTriggersAsync(
                Models.RequestTrigger body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Success>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/m2m/v2/triggers")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ReadySimRestErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}