// <copyright file="UsageTriggerManagementController.cs" company="APIMatic">
// Verizon.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Verizon.Standard.Exceptions;
using Verizon.Standard.Http.Response;

namespace Verizon.Standard.Controllers
{
    /// <summary>
    /// UsageTriggerManagementController.
    /// </summary>
    public class UsageTriggerManagementController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="UsageTriggerManagementController"/> class.
        /// </summary>
        internal UsageTriggerManagementController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Create a new usage trigger, which will send an alert when the number of device location service transactions reaches a specified percentage of the monthly subscription amount.
        /// </summary>
        /// <param name="body">Optional parameter: License assignment..</param>
        /// <returns>Returns the ApiResponse of Models.UsageTriggerResponse response from the API call.</returns>
        public ApiResponse<Models.UsageTriggerResponse> CreateNewTrigger(
                Models.UsageTriggerAddRequest body = null)
            => CoreHelper.RunTask(CreateNewTriggerAsync(body));

        /// <summary>
        /// Create a new usage trigger, which will send an alert when the number of device location service transactions reaches a specified percentage of the monthly subscription amount.
        /// </summary>
        /// <param name="body">Optional parameter: License assignment..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.UsageTriggerResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.UsageTriggerResponse>> CreateNewTriggerAsync(
                Models.UsageTriggerAddRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.UsageTriggerResponse>()
              .Server(Server.SubscriptionServer)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/usage/triggers")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error", (errorReason, context) => new DeviceLocationResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Update an existing usage trigger.
        /// </summary>
        /// <param name="triggerId">Required parameter: Usage trigger ID.</param>
        /// <param name="body">Optional parameter: New trigger values.</param>
        /// <returns>Returns the ApiResponse of Models.UsageTriggerResponse response from the API call.</returns>
        public ApiResponse<Models.UsageTriggerResponse> UpdateTrigger(
                string triggerId,
                Models.UsageTriggerUpdateRequest body = null)
            => CoreHelper.RunTask(UpdateTriggerAsync(triggerId, body));

        /// <summary>
        /// Update an existing usage trigger.
        /// </summary>
        /// <param name="triggerId">Required parameter: Usage trigger ID.</param>
        /// <param name="body">Optional parameter: New trigger values.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.UsageTriggerResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.UsageTriggerResponse>> UpdateTriggerAsync(
                string triggerId,
                Models.UsageTriggerUpdateRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.UsageTriggerResponse>()
              .Server(Server.SubscriptionServer)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/usage/triggers/{triggerId}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("triggerId", triggerId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error", (errorReason, context) => new DeviceLocationResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// eletes the specified usage trigger from the given account.
        /// </summary>
        /// <param name="accountName">Required parameter: Account name.</param>
        /// <param name="triggerId">Required parameter: Usage trigger ID.</param>
        /// <returns>Returns the ApiResponse of Models.DeviceLocationSuccessResult response from the API call.</returns>
        public ApiResponse<Models.DeviceLocationSuccessResult> DeleteTrigger(
                string accountName,
                string triggerId)
            => CoreHelper.RunTask(DeleteTriggerAsync(accountName, triggerId));

        /// <summary>
        /// eletes the specified usage trigger from the given account.
        /// </summary>
        /// <param name="accountName">Required parameter: Account name.</param>
        /// <param name="triggerId">Required parameter: Usage trigger ID.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DeviceLocationSuccessResult response from the API call.</returns>
        public async Task<ApiResponse<Models.DeviceLocationSuccessResult>> DeleteTriggerAsync(
                string accountName,
                string triggerId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DeviceLocationSuccessResult>()
              .Server(Server.SubscriptionServer)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/usage/accounts/{accountName}/triggers/{triggerId}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("thingspace_oauth")
                      .Add("VZ-M2M-Token")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("accountName", accountName))
                      .Template(template => template.Setup("triggerId", triggerId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Unexpected error", (errorReason, context) => new DeviceLocationResultException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}